/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* #Reset & Basics (Inspired by E. Meyers) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Basic Styles */
body {
	line-height: 1;
	background: #fff;
	font: 14px/21px 'Source Sans Pro', sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: normal;
}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		font-weight: inherit;
	}

p {
	margin: 0 0 20px 0;
}

	p img {
		margin: 0;
	}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}

/* Links */
a, a:visited {
	color: #333;
	text-decoration: underline;
	outline: 0;
}

	a:hover, a:focus {
		color: #000;
	}

p a, p a:visited {
	line-height: inherit;
}

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Typography
	#Buttons
	#Generic Styles
	#Separators
	#Nav
	#Intro
	#Work
	#Media Queries
	#Font-Face */


/* #Typography
================================================== */

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	line-height: 75px;
	font-size: 60px;
	font-weight: 700;
	color: #434343;
	text-transform: uppercase;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 80px;
}

h2 {
}

span.lines {
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
}

h3 {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	color: #434343;
}

h4 {
	line-height: 30px;
	margin-bottom: 4px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: #434343;
	text-transform: uppercase;
}

h5 {
	line-height: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #434343;
}

h6 {
	font-size: 14px;
	line-height: 21px;
}

p, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	color: #3d3d3d;
}


/* #Separators
================================================== */

p.separator {
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	color: #fff;
	line-height: 38px;
	text-transform: uppercase;
	position: relative;
	z-index: 200;
	text-align: center;
	padding-top: 240px;
}

.separator1 {
	width: 100%;
	height: 500px;
	position: relative;
}

	.separator1 .bg {
		background: url(../images/bg1.jpg) repeat center;
		background-size: cover !important;
		--webkit-background-size: cover !important;
		margin: 0 auto;
		padding: 0;
		position: absolute;
		z-index: 200;
		width: 100%;
		height: 500px;
	}

	@media only screen and (min-width: 1100px) {
		.separator1 .bg, #intro .bg1 {
			background-attachment: fixed !important;
		}
	}

	.separator1 .bg1 {
		background: url(../images/bg1.jpg) repeat center;
	}

	.separator1 .bg2 {
		background: url(../images/bg2.jpg) repeat center;
	}

	.separator1 .bg3 {
		background: url(../images/bg3.jpg) repeat center;
	}

	.separator1 .bg4 {
		background: url(../images/bg4.jpg) repeat center;
	}

	.separator1 .bg5 {
		background: url(../images/bg5.jpg) repeat center;
	}

	.separator1 .bg6 {
		background: url(../images/bg6.jpg) repeat center;
	}

	.separator1 .bg7 {
		background: url(../images/bg7.jpg) repeat center;
	}

	.separator1 .bg8 {
		background: url(../images/bg8.jpg) repeat center;
	}

	.separator1 .bg9 {
		background: url(../images/bg9.jpg) repeat center;
	}

	.separator1 .bg10 {
		background: url(../images/bg10.jpg) repeat center;
	}

	.separator1 .bg11 {
		background: url(../images/bg11.jpg) repeat center;
	}

	.separator1 .bg12 {
		background: url(../images/bg12.jpg) repeat center;
	}

	.separator1 .bg13 {
		background: url(../images/bg13.jpg) repeat center;
	}

	.separator1 .bg14 {
		background: url(../images/bg14.jpg) repeat center;
	}

	.separator1 .bg15 {
		background: url(../images/bg15.jpg) repeat center;
	}

	.separator1 .bg16 {
		background: url(../images/bg16.jpg) repeat center;
	}

	.separator1 .bg17 {
		background: url(../images/bg17.jpg) repeat center;
	}

	.separator1 .bg18 {
		background: url(../images/bg18.jpg) repeat center;
	}

	.separator1 .bg19 {
		background: url(../images/bg19.jpg) repeat center;
	}

	.separator1 .bg20 {
		background: url(../images/bg20.jpg) repeat center;
	}

	.separator1 .bg21 {
		background: url(../images/bg21.jpg) repeat center;
	}

	.separator1 .bg22 {
		background: url(../images/bg22.jpg) repeat center;
	}

	.separator1 .solceller-2 {
		background: url(../images/solceller-2.jpg) repeat center;
	}

	.separator1 .butik-1 {
		background: url(../images/butik-1.jpg) repeat center;
	}


/* #Intro
================================================== */
ul {
	padding-left: 30px
}


/* #Work
================================================== */

.bg {
	position: relative;
	background-color: #FFF;
	z-index: 300;
	padding-top: 20px;
	padding-bottom: 40px;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}


/* filterable portfolio */

a.selected {
	background: #4b4b4b;
	padding: 2px 5px;
	color: #fff;
}

.page h2 {
	margin-top: 45px;
}

.container .columns {
	max-width: 100%;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1024px) {

	h1 {
		font-size: 100px !important;
		margin-bottom: 60px;
	}

}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 1100px) {

	span.lines {
		Margin-top: 30px;
		border-top: 0px solid #aeaeae;
		border-bottom: 0px solid #aeaeae;
	}

	h1 {
		Margin-top: 40px;
		font-size: 60px !important;
		margin-bottom: 20px;
	}

	span.h2 {
		Margin-top: 30px;
		font-size: 60px !important;
		margin-bottom: 20px;
	}

	H4 {
		font-size: 20px !important;
	}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
