@import "monolith.css";

@media only screen and (min-width: 1100px) {
	.separator1 .bg, #intro .bg1 {
		background-attachment: fixed !important;
	}
}

p {
	word-wrap: break-word;
}

/* Hacky styles */

.custom-color-orange {
	background-color: Transparent
}

body {
	background-color: transparent
}

.nav-main a {
	text-transform: uppercase;
	font-family: Arial,sans-serif;
}

h2 {
	color: White;
}

h1 {
	color: White;
}

.header-text {
	background-color: Transparent;
	height: 160px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	right: 10px;
	z-index: 252;
	width: 100%;
	opacity: 0.8;
	text-align: right;
}

.header-1 {
	font-family: Arial;
	color: Black;
	font-size: 30px;
	font-weight: bold;
}

.header-2 {
	font-family: Arial;
	color: Black;
	font-size: 27px;
	font-weight: bold;
}

.header-3 {
	font-family: Arial;
	color: Black;
	font-size: 21px;
	font-weight: bold;
}

.header-logo {
	background-color: Transparent;
	height: 160px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	z-index: 250;
	opacity: 0.8;
}

.header {
	background-color: Transparent;
	height: 160px;
	height: auto;
	overflow: hidden;
	position: fixed;
	top: 0px;
	z-index: 250;
	width: 100%;
}

#topBG {
	width: 100%;
	background-color: White;
	/*border-style:solid;
	border-bottom-color:White;
	border-bottom-width:1px;
	border-top-width:1px;*/
	position: relative;
	top: 160px;
}

.separator1 {
	width: 100%;
	height: 500px;
	position: relative;
}

p.separator {
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	color: #fff;
	line-height: 38px;
	text-transform: uppercase;
	position: relative;
	z-index: 200;
	text-align: center;
	padding-top: 240px;
}

.separator1 .bg {
	background-size: cover !important;
	--webkit-background-size: cover !important;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 500px;
}

.separator1 .bg6 {
	background: url(../images/bg3.jpg) repeat center;
}

.separator1 .bg1 {
	background: url(../images/bg4.jpg) repeat center;
	z-index: 500;
}

.indhold {
	position: relative;
	top: 190px;
}

#menuTop {
	max-width: 950px;
}

	#menuTop a {
		font-family: Arial;
		font-size: 20px;
		float: right;
		padding-right: 10px;
		padding-left: 10px;
		text-transform: uppercase;
	}

		#menuTop a:hover {
			border-bottom-color: Black;
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}

.grid-group--center h1 {
	color: #f68427;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
}

h2 {
	color: black;
}
