/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */
    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Base Grid */
    .container .one.columns                     { width: 40px;  }
    .container .six.columns                     { width: 340px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .sixteen.columns                 { width: 940px; }


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }

        .container .one.columns                     { width: 28px; }
        .container .six.columns                     { width: 268px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .sixteen.columns                 { width: 748px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns { margin: 0; }

        .container .one.columns,
        .container .six.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .sixteen.columns { width: 300px; }
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; text-align:left }
        .container .columns { margin: 0;}

        .container .one.columns,
        .container .six.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .sixteen.columns { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after {
      clear: both; }
    .row {
      zoom: 1; }
	
	.columns{text-align:left;}