.eight img {
	width: inherit;
	border-radius: 5px 5px 5px 5px;
}

.menuLeft {
	height: 50px;
	width: 340px;
	background-color: rgb(255, 255, 255);
	z-index: 999997;
	opacity: .9;
	margin-top: 15px;
	margin-left: 5px;
	padding: 4px;
	display: block;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: Arial,sans-serif;
	line-height: 16px;
	box-shadow: 0px 0px 8px rgb(0, 0, 0);
	border-radius: 5px 5px 5px 5px;
}

	.menuLeft:hover {
		background-color: rgb(246, 135, 45);
		box-shadow: 0px 0px 15px rgb(0, 0, 0);
	}

	.menuLeft.selected {
		background-color: rgb(246, 135, 45);
		box-shadow: 0px 0px 15px rgb(0, 0, 0);
	}

	.menuLeft:hover h5 {
		color: White;
	}

.menuSelected {
	background-color: rgb(246, 135, 45);
	box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

	.menuSelected h5 {
		color: White;
	}

.produkt-image {
	float: left;
	width: 75px;
	height: 50px;
	border-radius: 5px 5px 5px 5px;
}

.menu-text {
	padding-left: 15px;
	margin-top: 11px;
	float: left
}

nav.nav-left {
	height: 100%;
	z-index: 999996;
	opacity: 1;
	position: fixed;
	padding: 0px;
	width: 50px;
	height: 450px;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: Arial,sans-serif;
	line-height: 10px;
	TOP: 180px;
	left: 0px;
}

.MobileCss {
	font-size: 14px;
}

header {
	height: 165px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	z-index: 999996;
	width: 100%;
}

@media (min-width: 860px) {
	header {
		position: fixed;
	}
}

.header-background {
	width: 100%;
	height: 165px;
	opacity: 0.97;
}

.header-logo {
	width: 100%;
	position: absolute;
	opacity: 0.8;
	top: 23px;
	left: 0;
}

.header-logo img {
	margin: auto;
	display: block;
	max-width: 100%;
}

@media (min-width: 1060px) {
	.header-logo {
		width: 70%;
	}
}

.header-text {
	position: absolute;
	top: 0px;
	right: 10px;
	opacity: 0.8;
	font-family: Arial;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	user-select: none;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

	.header-text a, .header-text a:visited, .header-text a:hover, .header-text a:focus {
		color: inherit;
		/*text-decoration: inherit;*/
	}

	.header-text .line-1 {
		font-size: 30px;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	.header-text .line-2 {
		font-size: 27px;
	}

	.header-text .line-3 {
		font-size: 21px;
	}

	.header-text .line-4 {
		font-size: 21px;
		text-transform: none; /*Stay lowercase*/
	}

.header-nav {
	position: absolute;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	max-width: 60%;
	right: 40px;
	top: 120px;
	text-transform: uppercase;
}

	.header-nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.header-nav li {
		white-space: nowrap;
	}

.header-nav li + li::before {
	content: "\b7";
	padding: 0 7px;
}

	.header-nav a {
		display: inline-block; /* To distance the 'border-bottom' underline */
		padding: 0;
		border-bottom: 1px solid transparent;
		height: 20px;
	}

.header-nav a:visited, .header-nav a:hover, .header-nav a:focus, .header-nav a.selected {
	border-bottom: 1px solid white;
}

.header-nav a, .header-nav a:visited, .header-nav a:hover, .header-nav a:focus {
	color: inherit;
	text-decoration: inherit;
	background-color: inherit;
}

@media (max-width: 1060px) {
	.header-logo img {
		width: calc(100vw - 200px);
	}

	.header-text {
		display: none;
	}

	.header-nav {
		top: calc(100vw / 10 + 28px);
	}
}

/* Teis */

.display-above-1000 {
	display: none;
}

.hide-above-1000 {
	display: block;
}

@media (min-width: 1000px){
	.display-above-1000 {
		display: block;
	}

	.hide-above-1000 {
		display: none;
	}
}


/* Footer */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 147px;
}

	footer ul {
		margin: 0;
		display: flex;
		list-style-type: none;
	}
	footer li {
		display: flex;
		align-items: center;
		height: 34px;
		padding: 0 10px;
		white-space: nowrap;
	}

@media (min-width: 1000px) {
	footer li {
		border-right: 1px solid #e6e6e6;
		padding: 0 26px;
	}

	footer li:first-child {
		border-left: 1px solid #e6e6e6;
	}
}

.info {
	position: fixed;
	z-index: 2147483647;
}