.type-communication:before, .type-custom-sound:before, .type-indoor-climate:before, .type-lighting:before, .type-management:before, .type-plummer:before, .type-renewable-energy:before, .type-security:before {
	content: "";
	width: 26px;
	height: 30px;
	margin-top: -6px;
	top: 2px;
	position: relative;
	margin-right: 8px;
	float: left;
	display: block;
	background-position: center center;
	background-repeat: no-repeat
}

.type-custom-sound:before {
	background: url(../images/icons/icon-sprite.png) 0
}

.type-renewable-energy:before {
	background: url(../images/icons/icon-sprite.png) -26px 0
}

.type-indoor-climate:before {
	background: url(../images/icons/icon-sprite.png) -52px 0
}

.type-communication:before {
	background: url(../images/icons/icon-sprite.png) -78px 0
}

.type-lighting:before {
	background: url(../images/icons/icon-sprite.png) -104px 0
}

.type-security:before {
	background: url(../images/icons/icon-sprite.png) -130px 0
}

.type-management:before {
	background: url(../images/icons/icon-sprite.png) -156px 0
}

.type-plummer:before {
	background: url(../images/icons/icon-sprite.png) -182px 0
}
