.cms-logo img {
	max-height: 100%;
	width: auto
}

.content {
	color: #004578;
	margin-bottom: 2em
}

.container-wrapper {
	padding-top: 1px
}

.wrapper-color--grey {
	background-color: #feead7
}

.section-page__header, .page__header {
	margin-top: 2em;
	text-transform: uppercase;
	font-family: "arial";
	font-weight: 300
}

* {
	margin: 0
}

footer {
	*zoom: 1;
	overflow: hidden
}

	footer:after {
		content: "";
		display: table;
		clear: both
	}

.slim-footer--cms {
	padding: 0.75em;
	color: #fff;
	text-align: center
}

.section-box {
	border-radius: 10px;
	margin-bottom: 2em;
	position: relative;
	z-index: 10
}

	.section-box:after {
		border-radius: 10px;
		content: "";
		background-color: #fff;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		float: left;
		z-index: -1;
		left: 0px;
		top: 0px
	}

	.section-box:hover {
		text-decoration: none
	}

		.section-box:hover .section-box__shadow {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			opacity: 1;
			background: transparent;
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"
		}

.section-box__image-wrapper {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	height: 140px
}

	.section-box__image-wrapper img {
		width: 100%
	}

.section-box__header {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: "arial";
	font-size: 20px;
	font-weight: 300;
	background-image: url('/images/mand.png');
	background-repeat: no-repeat;
	background-position: right center;
	color: #036;
	text-transform: uppercase;
	line-height: 22px;
	margin: 0 1em 0.4em 0;
	padding-top: 0.6em;
	padding-right: 2em;
	padding-bottom: 0.6em;
	padding-left: 20px;
	max-height: 60px;
	min-height: 36px;
	overflow: hidden
}

.section-box__shadow {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	opacity: 0.75;
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
	position: absolute;
	z-index: -1;
	width: 110%;
	left: -5%;
	bottom: -1em
}

	.section-box__shadow img {
		width: 100%
	}

.statement {
	*zoom: 1;
	background-color: white;
	z-index: 10;
	padding-top: 2em;
	padding-bottom: 2em
}

	.statement:after {
		content: "";
		display: table;
		clear: both
	}