.cms-logo img {
	max-height: 100%;
	width: auto
}

.content {
	color: #004578;
	margin-bottom: 2em
}

	.content #breadcrumbs ul, .content .breadcrumbs ul {
		list-style-type: none;
		margin: 10px 0 0 0;
		font-size: 11px;
		padding-left: 5px
	}

		.content #breadcrumbs ul li, .content .breadcrumbs ul li {
			font: normal 12px "Open Sans",Sans-serif;
			text-transform: uppercase;
			color: #444;
			display: inline-block;
			margin-right: 2px
		}

			.content #breadcrumbs ul li a, .content #breadcrumbs ul li a:visited, .content #breadcrumbs ul li a:active, .content .breadcrumbs ul li a, .content .breadcrumbs ul li a:visited, .content .breadcrumbs ul li a:active {
				cursor: pointer;
				color: #444
			}

				.content #breadcrumbs ul li a:visited, .content .breadcrumbs ul li a:visited {
					color: #444
				}

			.content #breadcrumbs ul li.active, .content .breadcrumbs ul li.active {
				font-weight: bold;
				color: #444
			}

			.content #breadcrumbs ul li.delimiter:after, .content .breadcrumbs ul li.delimiter:after {
				content: ">";
				font-size: 10px;
				margin-left: 2px;
				top: -1px;
				position: relative
			}

	.content a:hover .breadcrumbs {
		text-decoration: none
	}

	.content article {
		color: #036
	}

		.content article h3 {
			font: bold 20px/22px "Open Sans",Sans-serif
		}

		.content article header h1 {
			font: normal 70px/72px "Sansa Con Soft Pro Bold";
			margin-top: 0.6em
		}

			.content article header h1 .pre {
				color: #69c0e8
			}

			.content article header h1 .main {
				color: #004578
			}

			.content article header h1 + h2 {
				margin-top: -.5em
			}

		.content article header h2 {
			font: bold 28px/35px "Open Sans",Sans-serif
		}

		.content article.employee-list {
			float: left
		}

.kampagne {
	background-image: url("../images/kampagne.jpg")
}

	.kampagne .container {
		padding: 1.15em
	}

	.kampagne h1 {
		width: 61.15445%;
		float: left;
		margin-right: 3.58814%;
		display: inline;
		font: normal 45px/47px "Sansa Con Soft Pro Bold";
		margin-top: 0
	}

		.kampagne h1 .pre {
			color: #fff
		}

		.kampagne h1 .main {
			color: #69c0e8
		}

	.kampagne h2 {
		margin-top: 10px;
		font: normal 18px/18px "Sansa Con Soft Pro Bold";
		color: #fff
	}

.container-wrapper {
	padding-top: 1px
}

.wrapper-color--grey {
	background-color: #feead7
}

.section-page__header, .page__header {
	margin-top: 2em;
	text-transform: uppercase;
	font-family: "arial";
	font-weight: 300
}

.section-selector {
	font-size: 2em;
	margin-bottom: .5em
}

.stacktable {
	width: 100%
}

.st-val {
	font: normal 12px/16px "Open Sans",Sans-serif
}

.custom-row {
	padding: 0.75em
}

	.custom-row .installerPageLink {
		font-weight: bold
	}

.custom-divider {
	padding: 0.75em
}

.custom-content td {
	padding: 0 0.75em
}

.custom-row:nth-child(2n) {
	background-color: #d8eef9
}

* {
	margin: 0
}

.button-wrap.landingpage-button {
	margin-top: 4em
}

.search-results-wrapper {
	margin-top: 2em
}

.search-result {
	border-top: 1px solid #004578;
	display: block;
	padding-top: 1em;
	padding-bottom: 2em;
	max-width: 700px
}

	.search-result h2 {
		color: #004578
	}

	.search-result p {
		color: #333
	}

	.search-result .link, .search-result .has-link-style a, .has-link-style .search-result a, .search-result .aside a, .aside .search-result a, .search-result .content article a, .content article .search-result a, .search-result .section-box--employee .section-box__info-wrapper a, .section-box--employee .section-box__info-wrapper .search-result a {
		display: inline-block;
		color: inherit
	}

	.search-result:hover {
		text-decoration: none
	}

	.search-result h2:hover {
		text-decoration: underline
	}

footer {
	*zoom: 1;
	overflow: hidden
}

	footer:after {
		content: "";
		display: table;
		clear: both
	}

.global-footer {
	position: relative;
	padding: 5.25em 0;
	font-family: "Open Sans",Sans-serif;
	font-size: 13px;
	color: #666;
	background: #e1e1e1;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(15%, #e1e1e1), color-stop(82%, #9c9c9c), color-stop(100%, #9c9c9c), color-stop(100%, #9c9c9c));
	background: -webkit-radial-gradient(center, ellipse cover, #e1e1e1 15%, #9c9c9c 82%, #9c9c9c 100%, #9c9c9c 100%);
	background: -webkit-radial-gradient(center, ellipse, #e1e1e1 15%, #9c9c9c 82%, #9c9c9c 100%, #9c9c9c 100%);
	background: radial-gradient(ellipse at center, #e1e1e1 15%,#9c9c9c 82%,#9c9c9c 100%,#9c9c9c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#9c9c9c',GradientType=1 )
}

	.global-footer a {
		color: #666
	}

	.global-footer .sub-box {
		width: 45%;
		margin-right: 5%;
		float: left
	}

	.global-footer .link-list li {
		border-color: #666
	}

.link-list {
	padding: 0;
	font-family: "Sansa Con Soft Pro Regular";
	font-size: 14px
}

	.link-list li {
		list-style: none;
		border-bottom: 1px solid;
		padding: 0.60em 0.60em 0.60em 0
	}

		.link-list li:first-of-type {
			border-top: 1px solid
		}

	.link-list a {
		letter-spacing: 0.05em
	}

.slogan {
	color: #fff;
	position: relative
}

.slogan--cms {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat
}

	.slogan--cms .bar-icons {
		float: left
	}

.local-footer {
	padding: 3.15em 0;
	color: #fff;
	width: 100%;
	font-size: 13px
}

	.local-footer p {
		margin-bottom: 1.5em
	}

	.local-footer .footer--tilmelding input {
		min-width: 60%;
		margin-right: 1em
	}

	.local-footer .link-list {
		float: left;
		width: 45%;
		margin-right: 5%
	}

		.local-footer .link-list li {
			border-color: #fff
		}

	.local-footer a {
		color: #fff
	}

.slim-footer--cms {
	padding: 0.75em;
	color: #fff;
	text-align: center
}

.seo-footer-link {
	font-family: "Sansa Con Soft Pro Regular";
	color: #69c0e8;
	text-align: center;
	position: absolute;
	right: 10px;
	bottom: 10px
}

.footer-name {
	text-transform: uppercase
}

.error {
	color: red
}

.center-logo {
	padding: 1em
}

	.center-logo img {
		margin: 0 auto;
		max-height: 100px;
		display: block
	}

.button-wrap {
	text-align: center;
	margin: 1em 0
}

input {
	position: relative
}

	input[type=text], input[type=password], input[type=tel], input[type=email], input[type=number] {
		border: 1px solid #aaa;
		box-shadow: #aaa 0px 2px 4px inset;
		border-radius: 6px;
		background: #f7f7f7;
		min-height: 40px;
		line-height: 40px;
		padding: 0 8px
	}

	input.required:after {
		content: "*"
	}

textarea {
	border: 1px solid #aaa;
	box-shadow: #aaa 0px 2px 4px inset;
	border-radius: 6px;
	background: #f7f7f7;
	min-height: 125px;
	line-height: 1.5;
	padding: 8px;
	width: 100%;
	max-width: 500px
}

::-webkit-input-placeholder {
	text-transform: uppercase
}

:-moz-placeholder {
	text-transform: uppercase
}

::-moz-placeholder {
	text-transform: uppercase
}

:-ms-input-placeholder {
	text-transform: uppercase
}

.form--block {
	margin-bottom: 2em
}

	.form--block > div {
		margin-top: .5em;
		display: inline-block;
		width: 100%;
	}

		.form--block > div:first-child {
			margin-top: 0
		}

		.form--block > div.error {
			margin-top: 0
		}

		.form--block > div > input, .form--block > div > select, .form--block > div > textarea {
			display: block;
			width: 100%
		}

		.form--block > div select {
			font-size: 16px;
			line-height: 20px;
			padding: 8px 5px
		}

	.form--block .btn {
		margin-top: 1em
	}

.checkbox {
	margin-bottom: 1em
}

.checkbox__choice label {
	height: 30px
}

.no-svg .checkbox__choice input[type='radio'] {
	margin-left: 1em
}

.svg .checkbox__choice input[type='radio'] {
	visibility: hidden
}

	.svg .checkbox__choice input[type='radio']:checked + label:before {
		background-image: url("../images/checkbox_selected.svg")
	}

.svg .checkbox__choice label {
	padding-left: 1em
}

	.svg .checkbox__choice label:before {
		content: '';
		background-image: url("../images/checkbox_unselected.svg");
		background-repeat: no-repeat;
		background-position: center;
		margin-left: -1.25em;
		margin-top: -.2em;
		width: 2em;
		height: 2em;
		display: inline-block;
		vertical-align: middle;
		background-size: cover
	}

.checkbox__description {
	margin-bottom: .25em;
	display: block
}

.section-box {
	border-radius: 10px;
	margin-bottom: 2em;
	position: relative;
	z-index: 10
}

	.section-box:after {
		border-radius: 10px;
		content: "";
		background-color: #fff;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		float: left;
		z-index: -1;
		left: 0px;
		top: 0px
	}

	.section-box:hover {
		text-decoration: none
	}

		.section-box:hover .section-box__shadow {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			opacity: 1;
			background: transparent;
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"
		}

.section-box__image-wrapper {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	height: 140px
}

	.section-box__image-wrapper img {
		width: 100%
	}

.section-box__header {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: "arial";
	font-size: 20px;
	font-weight: 300;
	background-image: url('/images/mand.png');
	background-repeat: no-repeat;
	background-position: right center;
	color: #036;
	text-transform: uppercase;
	line-height: 22px;
	margin: 0 1em 0.4em 0;
	padding-top: 0.6em;
	padding-right: 2em;
	padding-bottom: 0.6em;
	padding-left: 20px;
	max-height: 60px;
	min-height: 36px;
	overflow: hidden
}

.section-box__header--noarrow {
	background-image: none
}

.section-box__shadow {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	opacity: 0.75;
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
	position: absolute;
	z-index: -1;
	width: 110%;
	left: -5%;
	bottom: -1em
}

	.section-box__shadow img {
		width: 100%
	}

.section-box__intro {
	color: #036;
	max-height: 60px;
	overflow: hidden;
	margin-top: -.4em;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 1em;
	padding-bottom: 20px
}

.section-box__type {
	position: absolute;
	bottom: 10px;
	padding-left: 20px;
	padding-right: 20px
}

@media (max-width: 600px) {
	.section-box__type {
		display: none
	}
}

.section-boxes--employees {
	overflow: visible;
	margin-bottom: 1.5em;
	float: left;
	width: 100%
}

.section-box--employee .section-box__info-wrapper {
	padding: 22px
}

@media only screen and (max-width: 711px) {
	.section-box--employee .section-box__info-wrapper {
		padding: 11px
	}
}

.section-box--employee .section-box__header {
	background-image: none;
	padding: 0 0.1em
}

@media only screen and (max-width: 711px) {
	.section-box--employee .section-box__header {
		padding-left: 70px;
		min-height: 2em;
		height: auto;
		max-height: none
	}
}

.section-box.section-box--flat {
	width: 100%;
	margin: 0;
	margin-bottom: 22px;
	padding: 8px;
	padding-right: 1em
}

	.section-box.section-box--flat .section-box__image-wrapper {
		border-radius: 10px;
		position: absolute;
		height: 55px;
		width: 73px
	}

		.section-box.section-box--flat .section-box__image-wrapper img {
			height: 55px;
			width: auto
		}

	.section-box.section-box--flat .section-box__header {
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		background-color: transparent;
		padding-left: 85px;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 1.4em;
		height: 2.8em;
		margin: 0 1em 0 0
	}

.section-box-large {
	border-radius: 10px;
	width: 100%;
	margin: 0;
	margin-bottom: 22px;
	display: block;
	padding-bottom: 22px;
	position: relative;
	z-index: 10
}

	.section-box-large:after {
		border-radius: 10px;
		content: "";
		background-color: #fff;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		float: left;
		z-index: -1;
		left: 0px;
		top: 0px
	}

	.section-box-large:hover {
		text-decoration: none
	}

		.section-box-large:hover .section-box__shadow {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			opacity: 1;
			background: transparent;
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"
		}

	.section-box-large .section-box__image-wrapper {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background-color: #fff;
		overflow: hidden;
		min-height: 140px;
		height: auto;
		width: 100%;
		position: relative
	}

		.section-box-large .section-box__image-wrapper img {
			width: 100%;
			height: auto
		}

	.section-box-large .section-box__header {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		font-family: "Sansa Con Soft Pro Regular";
		font-size: 20px;
		font-weight: 300;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAYCAYAAADpnJ2CAAAB2klEQVR42sXWUShDURzHcYBEeNGkRCWamJoI1F7UXlBoZWWmDTFR7QVNjYIXEaJWakqtQpLai4qUqBReJNFeeZFSyovyrf7qOq0huW59OrXu+t3fuefce+N+c0we3q9jNU6vg7AqGHULlIY+9OAMWX8duIQhWBGUn3UJtCGIeoRh+qvAU6xiHg+YwTM6v/PnDBnzkIEilKAczShFB0xwoRIOtMGKXjl3DAUYR0W0oBQkwIRMtMrUeODHIAIYxy7mcIwQrnCHE2kYkYbXeMV2rIaJMmbLReRrGjqRgykYMAszRtENGxbl3JA03EKFKNQGJUvDMqSjSRq6MaJp6JWGE9IwIA3PNQ0vlYa3eENEGxgvYw6SUIRc1MICKwZgkYZ1WEYTluCDF0HYEUYn9tGFHfg/TaU0LEQqamCUaeqDS9r0S0OHNPTjFHvYxA02pGHg4x7iEQe4wJP23uUrgS1wwo4FtCuB3iiBK0rgmhoYa0rNsP5wSvuVKR2ONqXJEqQuGs8XiyYUZdEcKYvmTF002uA0GbOVjV8NJ0o122IZZkyjGz1YRIM0LJCGFsi2+Hrju3+x8V/Ujf+ThuqjzQAXiuFAY6xHm64Pb/1fT/q/gPX/xPj/jyjdPxPfAX4XhtqBu2B9AAAAAElFTkSuQmCC');
		background-repeat: no-repeat;
		background-position: center right 15px;
		color: #036;
		text-transform: uppercase;
		line-height: 22px;
		margin: 0 1em 0.4em 0;
		padding-top: 0.6em;
		padding-right: 2em;
		padding-bottom: 0.6em;
		padding-left: 20px;
		max-height: 60px;
		min-height: 36px;
		overflow: hidden
	}

	.section-box-large .section-box__shadow {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
		opacity: 0.75;
		background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
		position: absolute;
		z-index: -1;
		width: 110%;
		left: -5%;
		bottom: -1em
	}

		.section-box-large .section-box__shadow img {
			width: 100%
		}

.section-box__content {
	font-family: "Sansa Con Soft Pro Regular";
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0;
	color: #036
}

.statement {
	*zoom: 1;
	background-color: white;
	z-index: 10;
	padding-top: 2em;
	padding-bottom: 2em
}

	.statement:after {
		content: "";
		display: table;
		clear: both
	}

	.statement .btn {
		text-align: center
	}

.statement__bargain {
	font-family: "Sansa Con Soft Pro Regular";
	color: #69c0e8;
	text-align: center
}

.bargain__number {
	font-size: 5em;
	line-height: .75em
}

.bargain__text {
	font-size: 2.5em
}

.statement__content {
	font-family: "Sansa Con Soft Pro Bold";
	font-size: 1.25em;
	margin: 0;
	color: #036
}

.tooltip-toggle {
	border-radius: 50%;
	margin-bottom: 4px;
	float: right;
	cursor: pointer;
	background-color: #036;
	color: white;
	width: 18px;
	height: 18px;
	text-align: center;
	font-weight: bold;
	padding: 2px;
	line-height: 14px
}

	.tooltip-toggle:hover, .tooltip-toggle.active {
		text-decoration: none;
		color: #036;
		border: 1px solid #036;
		background-color: white
	}

.tooltip {
	display: none;
	padding: 0 1em 1em 1em
}
