@media (max-width: 44.45em) {
	.header {
		min-height: 60px;
		position: relative;
		margin-bottom: 0
	}

		.header .logo {
			position: absolute;
			margin-left: 10px;
			width: 6em
		}

		.header .bar {
			display: block
		}

		.header .menu-toggle {
			width: 9.36037%;
			float: right;
			margin-right: 0;
			-webkit-transition: 100ms;
			transition: 100ms;
			display: block;
			float: right;
			color: #036;
			cursor: pointer;
			font-size: 4em;
			font-size: 3.7em;
			line-height: 1em;
			margin-top: 10px
		}

			.header .menu-toggle i {
				float: right;
				display: inline-block
			}

			.header .menu-toggle.active {
				color: #444
			}

		.header .nav-main a, .header .nav-small a {
			font-size: 1.2em;
			font-family: "Open Sans",Sans-serif
		}

			.header .nav-main a:after, .header .nav-small a:after {
				position: absolute;
				top: 0;
				right: 0;
				content: "\f105";
				font-family: FontAwesome;
				font-weight: bold;
				font-style: normal;
				text-decoration: inherit;
				font-size: 37px;
				-webkit-font-smoothing: antialiased;
				display: inline;
				width: auto;
				height: auto;
				line-height: inherit;
				vertical-align: baseline;
				background-image: none;
				background-position: 0% 0%;
				background-repeat: repeat;
				margin-top: 0;
				float: right
			}

		.header .nav-main {
			background-color: white;
			padding: 0
		}

			.header .nav-main a {
				display: block;
				color: #fff
			}

			.header .nav-main .menu-block-wrapper {
				width: 100%;
				float: right;
				margin-right: 0
			}

			.header .nav-main ul {
				padding: 0;
				-webkit-transition: 200ms;
				transition: 200ms;
				margin-top: 0;
				display: none
			}

				.header .nav-main ul:after {
					content: "";
					display: table;
					clear: both
				}

				.header .nav-main ul.open {
					display: block
				}

			.header .nav-main li {
				padding: 1em;
				line-height: 1.5em;
				border-bottom: 1px solid #fff
			}

				.header .nav-main li:first-child {
					border-top: 1px solid #fff
				}

				.header .nav-main li:last-child {
					border-bottom: none
				}

		.header .top-search {
			width: 150px;
			background-color: #FFF;
			text-transform: none;
			font-size: 16px;
			text-transform: uppercase;
			width: 100%;
			font-family: "Open Sans",Sans-serif
		}

		.header button.icon-search {
			width: 25px;
			height: 25px;
			background: none;
			border: none;
			font-size: 16px;
			color: #fff;
			cursor: pointer;
			position: absolute;
			right: 6px;
			top: 14px;
			color: #003366
		}

	.slim-footer {
		position: relative
	}

		.slim-footer .installatoer-login, .slim-footer .co2-neutral {
			margin: 1.7em auto;
			text-align: center
		}

	.section-box {
		width: 100%;
		float: right;
		margin-right: 0;
		padding: 8px;
		padding-right: 1em;
		margin-bottom: 1.5em
	}

	.section-box__image-wrapper {
		border-radius: 10px;
		position: absolute;
		height: 55px;
		width: 73px
	}

		.section-box__image-wrapper img {
			height: 55px
		}

	.section-box__header {
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		background-color: transparent;
		padding-left: 85px;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 1.4em;
		height: 2.8em;
		margin: 0 1em 0 0
	}

	.section-box__shadow {
		bottom: -20px
	}

	.section-box__intro {
		display: none
	}

	.section-box__type {
		padding-left: 85px
	}
}
