.slim-footer--cms {
	background: #000;
}

.custom-color-orange .slim-footer--cms {
	background: #003875;
}

.b-lazy {
	-webkit-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	max-width: 100%;
	opacity: 0;
}

	.b-lazy.b-loaded {
		opacity: 1;
	}

@media (min-width: 44.58125em) {
	.header {
		height: 165px;
	}

	.content:after {
		content: "";
		clear: both;
	}

	.slim-footer {
		position: relative;
		min-height: 60px;
	}

	.section-box {
		width: 48.81809%;
		float: left;
		margin-right: 2.36382%;
	}

		.section-box:nth-child(2n) {
			float: right;
			margin-right: 0;
		}
}