.slim-footer--cms {
	background: #000;
}

.custom-color-orange .slim-footer--cms {
	background: #003875;
}

.b-lazy {
	-webkit-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	max-width: 100%;
	opacity: 0;
}

	.b-lazy.b-loaded {
		opacity: 1;
	}

@media (min-width: 44.58125em) {
	.header {
		height: 165px;
	}

	.content:after {
		content: "";
		clear: both;
	}

	.slim-footer {
		position: relative;
		min-height: 60px;
	}

	.section-box {
		width: 48.81809%;
		float: left;
		margin-right: 2.36382%;
	}

		.section-box:nth-child(2n) {
			float: right;
			margin-right: 0;
		}
}

.statement {
	min-height: 150px
}

@media (min-width: 59.10625em) {
	.section-box {
		width: 31.75745%;
		float: left;
		margin-right: 2.36382%
	}

		.section-box:nth-child(2n) {
			float: left;
			margin-right: 1.76245%
		}

		.section-box:nth-child(2n) {
			margin-right: 2.36382%
		}

		.section-box:nth-child(3n) {
			float: right;
			margin-right: 0
		}
}

@media (max-width: 44.45em) {
	.header {
		min-height: 60px;
		position: relative;
		margin-bottom: 0
	}

	.slim-footer {
		position: relative
	}

		.slim-footer .installatoer-login, .slim-footer .co2-neutral {
			margin: 1.7em auto;
			text-align: center
		}

	.section-box {
		width: 100%;
		float: right;
		margin-right: 0;
		padding: 8px;
		padding-right: 1em;
		margin-bottom: 1.5em
	}

	.section-box__image-wrapper {
		border-radius: 10px;
		position: absolute;
		height: 55px;
		width: 73px
	}

		.section-box__image-wrapper img {
			height: 55px
		}

	.section-box__header {
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		background-color: transparent;
		padding-left: 85px;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 1.4em;
		height: 2.8em;
		margin: 0 1em 0 0
	}

	.section-box__shadow {
		bottom: -20px
	}
}

@media (min-width: 0em) and (max-width: 44.58125em) {
	.statement {
		text-align: center
	}
}
