.statement {
	min-height: 150px
}

@media (min-width: 59.10625em) {
	.section-box {
		width: 31.75745%;
		float: left;
		margin-right: 2.36382%
	}

		.section-box:nth-child(2n) {
			float: left;
			margin-right: 1.76245%
		}

		.section-box:nth-child(2n) {
			margin-right: 2.36382%
		}

		.section-box:nth-child(3n) {
			float: right;
			margin-right: 0
		}
}
