.cms-logo img {
	max-height: 100%;
	width: auto
}

.content {
	color: #004578;
	margin-bottom: 2em
}

	.content #breadcrumbs ul, .content .breadcrumbs ul {
		list-style-type: none;
		margin: 10px 0 0 0;
		font-size: 11px;
		padding-left: 5px
	}

		.content #breadcrumbs ul li, .content .breadcrumbs ul li {
			font: normal 12px "Open Sans",Sans-serif;
			text-transform: uppercase;
			color: #444;
			display: inline-block;
			margin-right: 2px
		}

			.content #breadcrumbs ul li a, .content #breadcrumbs ul li a:visited, .content #breadcrumbs ul li a:active, .content .breadcrumbs ul li a, .content .breadcrumbs ul li a:visited, .content .breadcrumbs ul li a:active {
				cursor: pointer;
				color: #444
			}

				.content #breadcrumbs ul li a:visited, .content .breadcrumbs ul li a:visited {
					color: #444
				}

			.content #breadcrumbs ul li.active, .content .breadcrumbs ul li.active {
				font-weight: bold;
				color: #444
			}

			.content #breadcrumbs ul li.delimiter:after, .content .breadcrumbs ul li.delimiter:after {
				content: ">";
				font-size: 10px;
				margin-left: 2px;
				top: -1px;
				position: relative
			}

	.content a:hover .breadcrumbs {
		text-decoration: none
	}

	.content article {
		color: #036
	}

		.content article h3 {
			font: bold 20px/22px "Open Sans",Sans-serif
		}

		.content article header h1 {
			font: normal 70px/72px "Sansa Con Soft Pro Bold";
			margin-top: 0.6em
		}

			.content article header h1 .pre {
				color: #69c0e8
			}

			.content article header h1 .main {
				color: #004578
			}

			.content article header h1 + h2 {
				margin-top: -.5em
			}

		.content article header h2 {
			font: bold 28px/35px "Open Sans",Sans-serif
		}

		.content article.employee-list {
			float: left
		}

.kampagne {
	background-image: url("../images/kampagne.jpg")
}

	.kampagne .container {
		padding: 1.15em
	}

	.kampagne h1 {
		width: 61.15445%;
		float: left;
		margin-right: 3.58814%;
		display: inline;
		font: normal 45px/47px "Sansa Con Soft Pro Bold";
		margin-top: 0
	}

		.kampagne h1 .pre {
			color: #fff
		}

		.kampagne h1 .main {
			color: #69c0e8
		}

	.kampagne h2 {
		margin-top: 10px;
		font: normal 18px/18px "Sansa Con Soft Pro Bold";
		color: #fff
	}

.container-wrapper {
	padding-top: 1px
}

.wrapper-color--grey {
	background-color: #feead7
}

.installatoer-login a:visited {
	color: #004578
}

.installatoer-login h2 {
	font-family: "Sansa Con Soft Pro Bold";
	font-size: 1em;
	text-transform: uppercase
}

.section-page__header, .page__header {
	margin-top: 2em;
	text-transform: uppercase;
	font-family: "arial";
	font-weight: 300
}

.section-selector {
	font-size: 2em;
	margin-bottom: .5em
}

.installatoer-page__header {
	margin-top: 2em;
	line-height: 1.4em;
	text-transform: uppercase;
	font-family: "Sansa Con Soft Pro Regular";
	font-weight: 300;
	font-size: 1.5em
}

.banner.installatoer--simple-banner .simple-banner--installatoer-tekst {
	display: inline;
	font: normal 55px/59px "Sansa Con Soft Pro Bold";
	margin-top: 0
}

	.banner.installatoer--simple-banner .simple-banner--installatoer-tekst.tekst-1 {
		color: #fff
	}

	.banner.installatoer--simple-banner .simple-banner--installatoer-tekst.tekst-2 {
		color: #50c7ff
	}

.banner.installatoer--simple-banner .simple-banner--installatoer-cta {
	display: block
}

	.banner.installatoer--simple-banner .simple-banner--installatoer-cta .btn {
		float: right;
		margin: 1em 0 0
	}

.banner.installatoer--simple-banner .container {
	padding: 50px 50px 50px 85px
}

.installatoer-page__main-text p:first-child {
	margin-top: 0
}

.installatoer-page__main-image img {
	border-radius: 10px
}

.container-wrapper.kontaktband {
	background-color: #f48a00
}

	.container-wrapper.kontaktband .content {
		color: #fff;
		padding: 1em 0;
		margin: 0
	}

	.container-wrapper.kontaktband .block {
		text-align: center;
		margin: 1.2em 0
	}

	.container-wrapper.kontaktband .favourite {
		text-transform: uppercase;
		line-height: 32px
	}

		.container-wrapper.kontaktband .favourite span {
			display: inline-block;
			vertical-align: middle
		}

		.container-wrapper.kontaktband .favourite a:hover {
			text-decoration: none
		}

			.container-wrapper.kontaktband .favourite a:hover .icon {
				background-position: -30px 0
			}

		.container-wrapper.kontaktband .favourite .icon {
			display: inline-block;
			vertical-align: middle;
			width: 30px;
			height: 32px;
			background-image: url("../images/favourite-sprite-flattened.png");
			background-repeat: no-repeat
		}

			.container-wrapper.kontaktband .favourite .icon.active {
				background-position: -30px 0
			}

	.container-wrapper.kontaktband .telephone {
		font-size: 1.7em;
		font-weight: bold;
		text-transform: uppercase
	}

	.container-wrapper.kontaktband .delimiter {
		margin: 0.7em 0
	}

	.container-wrapper.kontaktband .direct-info {
		line-height: 1.5em
	}

		.container-wrapper.kontaktband .direct-info a, .container-wrapper.kontaktband .direct-info a:active, .container-wrapper.kontaktband .direct-info a:hover {
			color: #fff
		}

	.container-wrapper.kontaktband .toggle-wrap {
		clear: both
	}

	.container-wrapper.kontaktband .extra-toggle {
		cursor: pointer;
		clear: both;
		width: 20px;
		height: 20px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		bottom: -22px;
		z-index: 1000;
		width: 68px;
		height: 56px;
		background-image: url("../images/big-fold-sprite.png")
	}

		.container-wrapper.kontaktband .extra-toggle.open {
			background-position-x: 68px;
			background-position-y: 0px
		}

		.container-wrapper.kontaktband .extra-toggle.close {
			background-position-x: 0px;
			background-position-y: 0px
		}

	.container-wrapper.kontaktband #extra-wrap {
		max-height: 700px;
		overflow: hidden;
		-webkit-transition-property: all;
		transition-property: all;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		-webkit-transition-timing-function: ease;
		transition-timing-function: ease
	}

		.container-wrapper.kontaktband #extra-wrap.hidden, .container-wrapper.kontaktband #extra-wrap.salesletter_disabled {
			max-height: 0px;
			-webkit-transition-property: all;
			transition-property: all;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease;
			transition-timing-function: ease
		}

		.container-wrapper.kontaktband #extra-wrap.shown {
			height: auto
		}

	.container-wrapper.kontaktband .extra {
		font-size: 1.7em;
		line-height: 1.2em;
		font-weight: bold;
		text-transform: uppercase
	}

		.container-wrapper.kontaktband .extra .open {
			font-size: 0.5em;
			line-height: 1.5em
		}

.installatoer-oversigt__header {
	font: normal 70px/72px "Sansa Con Soft Pro Bold";
	margin: 1em 0 0
}

	.installatoer-oversigt__header .pre {
		color: #69c0e8
	}

	.installatoer-oversigt__header .main {
		color: #004578
	}

.installatoer-oversigt__manchet {
	font: bold 28px/35px "Open Sans",Sans-serif;
	margin: 0.25em 0 1em
}

.installatoer-oversigt:after, .installatoer-oversigt__wrapper:after {
	clear: both;
	content: '';
	display: table
}

.installatoer-oversigt:after, .installatoer-oversigt__wrapper:after {
	content: " ";
	clear: both
}

.installatoer-oversigt {
	margin-bottom: 4em
}

.installatoer-oversigt__search_info {
	font: bold 18px/24px "Open Sans",Sans-serif;
	margin: 0.5em 0
}

form.installatoer-oversigt__search_form input {
	font: normal 15px/36px "Open Sans",Sans-serif;
	color: #000;
	padding-right: 0.8em;
	padding-left: 0.8em;
	width: 235px
}

	form.installatoer-oversigt__search_form input.placeholder {
		color: gray
	}

	form.installatoer-oversigt__search_form input:-moz-placeholder {
		color: gray
	}

	form.installatoer-oversigt__search_form input::-moz-placeholder {
		color: gray
	}

	form.installatoer-oversigt__search_form input::-webkit-input-placeholder {
		color: gray
	}

	form.installatoer-oversigt__search_form input:-ms-input-placeholder {
		color: gray
	}

.installatoer-oversigt__item, .contractor-row {
	font: normal 15px/18px "Open Sans",Sans-serif;
	padding: 0
}

	.installatoer-oversigt__item:nth-child(2n), .contractor-row:nth-child(2n) {
		background-color: #d8eef9
	}

	.installatoer-oversigt__item .basic-info-wrap, .contractor-row .basic-info-wrap, .installatoer-oversigt__item-header .basic-info-wrap {
		display: block
	}

		.installatoer-oversigt__item .basic-info-wrap:after, .contractor-row .basic-info-wrap:after, .installatoer-oversigt__item-header .basic-info-wrap:after {
			clear: both;
			content: '';
			display: table
		}

		.installatoer-oversigt__item .basic-info-wrap:visited, .contractor-row .basic-info-wrap:visited, .installatoer-oversigt__item-header .basic-info-wrap:visited {
			color: #004578
		}

.installatoer-oversigt__item-header {
	font: bold 15px/18px "Open Sans",Sans-serif;
	padding: 0
}

.stacktable {
	width: 100%
}

.st-val {
	font: normal 12px/16px "Open Sans",Sans-serif
}

.custom-row {
	padding: 0.75em
}

	.custom-row .installerPageLink {
		font-weight: bold
	}

.custom-divider {
	padding: 0.75em
}

.custom-content td {
	padding: 0 0.75em
}

.custom-row:nth-child(2n) {
	background-color: #d8eef9
}

* {
	margin: 0
}

.landingpage-header__textarea {
	font-family: "Sansa Con Soft Pro Regular";
	color: #004578
}

.landingpage-header__heading {
	font-family: "Sansa Con Soft Pro Bold"
}

	.landingpage-header__heading h1, .landingpage-header__heading h2 {
		font-weight: normal
	}

	.landingpage-header__heading h1 {
		font-size: 3.25em;
		line-height: 1.2em;
		color: #004578
	}

		.landingpage-header__heading h1 .pre {
			color: #69c0e8
		}

	.landingpage-header__heading h2 {
		font-size: 2em;
		line-height: 1.25em
	}

.landingpage-wrap h2, .landingpage-footer h2 {
	font-family: "Sansa Con Soft Pro Bold";
	font-size: 1.8em;
	line-height: 1.25em;
	font-weight: 300
}

.landingpage-content__textarea__no-fav {
	color: #fff
}

.landingpage-header__form {
	font-family: "Sansa Con Soft Pro Regular"
}

	.landingpage-header__form p {
		color: #004578;
		font-size: 1.5em
	}

	.landingpage-header__form input[type=text], .landingpage-header__form input[type=tel], .landingpage-header__form input[type=number], .landingpage-header__form input[type=email] {
		display: block;
		margin-top: 1em;
		width: 100%
	}

	.landingpage-header__form input[type=submit], .landingpage-header__form .btn {
		margin-top: 1em
	}

	.landingpage-header__form div.error {
		margin: 5px 0
	}

		.landingpage-header__form div.error:last-child {
			margin-bottom: 10px
		}

.contractor-list {
	background-color: white
}

	.contractor-list:after {
		clear: both;
		content: '';
		display: table
	}

	.contractor-list .btn {
		float: right
	}

.contractor-list__name {
	font-weight: bold
}

.contractor-list__postal, .contractor-list__city {
	display: inline-block
}

.contractor-select {
	width: 100%;
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 1em
}

.landingpage-content {
	position: relative;
	overflow: hidden;
	color: #fff
}

.landingpage-content__offer {
	text-align: center
}

.contractor-image {
	text-align: right
}

.button-wrap.landingpage-button {
	margin-top: 4em
}

.search-results-wrapper {
	margin-top: 2em
}

.search-result {
	border-top: 1px solid #004578;
	display: block;
	padding-top: 1em;
	padding-bottom: 2em;
	max-width: 700px
}

	.search-result h2 {
		color: #004578
	}

	.search-result p {
		color: #333
	}

	.search-result .link, .search-result .has-link-style a, .has-link-style .search-result a, .search-result .aside a, .aside .search-result a, .search-result .content article a, .content article .search-result a, .search-result .section-box--employee .section-box__info-wrapper a, .section-box--employee .section-box__info-wrapper .search-result a {
		display: inline-block;
		color: inherit
	}

	.search-result:hover {
		text-decoration: none
	}

	.search-result h2:hover {
		text-decoration: underline
	}

footer {
	*zoom: 1;
	overflow: hidden
}

	footer:after {
		content: "";
		display: table;
		clear: both
	}

.fat-footer {
	background: url("../images/fatfooter_bg.jpg") repeat-x top;
	font-family: "Open Sans",Sans-serif;
	font-size: 13px
}

	.fat-footer .footer--tilmelding {
		margin-top: 2em
	}

	.fat-footer .box {
		margin-top: 3em;
		color: #fff
	}

		.fat-footer .box input {
			height: 43px;
			vertical-align: top
		}

		.fat-footer .box h2 {
			font: normal 18px/24px "Sansa Con Soft Pro Bold";
			margin: 0;
			text-transform: uppercase
		}

		.fat-footer .box ul {
			width: 100%;
			list-style-type: none
		}

		.fat-footer .box li {
			border-top: 1px solid #fff;
			line-height: 35px
		}

			.fat-footer .box li:last-child {
				border-bottom: 1px solid #fff
			}

.global-footer {
	position: relative;
	padding: 5.25em 0;
	font-family: "Open Sans",Sans-serif;
	font-size: 13px;
	color: #666;
	background: #e1e1e1;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(15%, #e1e1e1), color-stop(82%, #9c9c9c), color-stop(100%, #9c9c9c), color-stop(100%, #9c9c9c));
	background: -webkit-radial-gradient(center, ellipse cover, #e1e1e1 15%, #9c9c9c 82%, #9c9c9c 100%, #9c9c9c 100%);
	background: -webkit-radial-gradient(center, ellipse, #e1e1e1 15%, #9c9c9c 82%, #9c9c9c 100%, #9c9c9c 100%);
	background: radial-gradient(ellipse at center, #e1e1e1 15%,#9c9c9c 82%,#9c9c9c 100%,#9c9c9c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#9c9c9c',GradientType=1 )
}

	.global-footer a {
		color: #666
	}

	.global-footer .sub-box {
		width: 45%;
		margin-right: 5%;
		float: left
	}

	.global-footer .link-list li {
		border-color: #666
	}

.link-list {
	padding: 0;
	font-family: "Sansa Con Soft Pro Regular";
	font-size: 14px
}

	.link-list li {
		list-style: none;
		border-bottom: 1px solid;
		padding: 0.60em 0.60em 0.60em 0
	}

		.link-list li:first-of-type {
			border-top: 1px solid
		}

	.link-list a {
		letter-spacing: 0.05em
	}

.slogan {
	color: #fff;
	position: relative
}

.slogan--cms {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat
}

	.slogan--cms .bar-icons {
		float: left
	}

.local-footer {
	padding: 3.15em 0;
	color: #fff;
	width: 100%;
	font-size: 13px
}

	.local-footer p {
		margin-bottom: 1.5em
	}

	.local-footer .footer--tilmelding input {
		min-width: 60%;
		margin-right: 1em
	}

	.local-footer .link-list {
		float: left;
		width: 45%;
		margin-right: 5%
	}

		.local-footer .link-list li {
			border-color: #fff
		}

	.local-footer a {
		color: #fff
	}

.slim-footer--cms {
	padding: 0.75em;
	color: #fff;
	text-align: center
}

.seo-footer-link {
	font-family: "Sansa Con Soft Pro Regular";
	color: #69c0e8;
	text-align: center;
	position: absolute;
	right: 10px;
	bottom: 10px
}

.footer-name {
	text-transform: uppercase
}

.bluespot {
	*zoom: 1;
	padding-left: 1.15em;
	padding-right: 1.15em;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px
}

	.bluespot:after {
		content: "";
		display: table;
		clear: both
	}

	.bluespot div, .bluespot input {
		margin-bottom: 2em
	}

.bluespot-header {
	width: 100%;
	float: left;
	margin-right: 2.36382%;
	display: inline;
	padding-top: 2em;
	height: 200px;
}

	.bluespot-header .header__address {
		width: 31.75745%;
		float: left;
		margin-right: 2.36382%;
		display: inline;
		margin-top: 6em;
		margin-left: 4em;
	}

		.bluespot-header .header__address textarea {
			max-height: 100px;
			min-height: 100px;
			resize: none
		}

	.bluespot-header .header__logos {
		width: 31.75745%;
		float: right;
		margin-right: 2em;
		*margin-left: -1.15em;
		display: inline
	}

		.bluespot-header .header__logos .top-logo {
			float: left;
			width: 100%;
			height: 80px;
			background-image: url("../images/logo-with-text.png");
			background-repeat: no-repeat;
			background-position: left top;
			background-size: auto 100%;
			margin-bottom: 1em
		}

		.bluespot-header .header__logos .bottom-logo {
			float: left;
			width: 100%;
			padding-left: 1.1em;
			margin-bottom: 0
		}

			.bluespot-header .header__logos .bottom-logo img {
				max-height: 95px;
				width: auto;
				margin: 0 auto
			}

		.bluespot-header .header__logos .installerDomain {
			text-decoration: underline;
			color: #8b8b8b;
			font-weight: bold
		}

.bluespot-content-container {
	width: 100%;
	float: left;
	margin-right: 2.36382%;
	display: inline;
	height: 850px;
	padding: 0 4em;
}

.bluespot-content {
	width: 100%;
	float: left;
	margin-right: 2.36382%;
	display: inline;
	max-height: 480px
}

	.bluespot-content .content__phrases {
		width: 31.75745%;
		float: right;
		margin-right: 0;
		*margin-left: -1.15em;
		display: inline;
		padding: 0.5em;
		border-radius: 6px;
		box-shadow: #aaa 0px 2px 4px inset;
		background: #f7f7f7
	}

	.bluespot-content .content__title {
		width: 65.87873%;
		float: left;
		margin-right: 2.36382%;
		display: inline
	}

	.bluespot-content .content__text {
		width: 100%;
		float: left;
		margin-right: 2.36382%;
		display: inline;
		max-width: 100%;
		height: 400px;
		max-height: 400px;
		resize: none;
		overflow: hidden
	}

	.bluespot-content .content__text--pdf {
		height: auto
	}

	.bluespot-content .content__count {
		width: 14.69681%;
		float: right;
		margin-right: 0;
		*margin-left: -1.15em;
		display: inline;
		text-align: right
	}

	.bluespot-content #wysihtml5-toolbar {
		width: 100%;
		float: left;
		margin-right: 2.36382%;
		display: inline
	}

	.bluespot-content header {
		display: block;
		border-radius: 4px;
		width: 400px;
		background: #eee;
		position: relative;
		z-index: 1;
		text-align: center;
		background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, #ffffff 100%);
		background-image: linear-gradient(bottom, #eeeeee 0%,#ffffff 100%);
		background-image: -webkit-linear-gradient(bottom, #eee 0%, #fff 100%);
		box-shadow: 0 0 4px 1px rgba(0,0,0,0.3);
		font-size: 0;
		text-align: center
	}

	.bluespot-content .commands {
		border-left: 1px solid #ddd;
		display: inline-block;
		padding: 0
	}

	.bluespot-content [data-wysihtml5-command], .bluespot-content [data-wysihtml5-action], .bluespot-content .fore-color {
		position: relative;
		border-right: 1px solid #ddd;
		border-left: 1px solid #fff;
		list-style: none;
		font-size: 12px;
		display: inline-block;
		cursor: pointer;
		height: 40px;
		width: 68px
	}

		.bluespot-content [data-wysihtml5-command]::after, .bluespot-content [data-wysihtml5-action]::after, .bluespot-content .fore-color::after {
			content: "";
			background-image: url("../images/spr_toolbar_icons_r1.png");
			background-repeat: no-repeat;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0
		}

		.bluespot-content [data-wysihtml5-command]:hover, .bluespot-content [data-wysihtml5-action]:hover, .bluespot-content .fore-color:hover {
			background-image: -webkit-linear-gradient(bottom, #e5f0e2 0%, #ffffff 100%);
			background-image: linear-gradient(bottom, #e5f0e2 0%,#ffffff 100%);
			background-image: -webkit-linear-gradient(bottom, #e5f0e2 0%, #fff 100%)
		}

	.bluespot-content [data-wysihtml5-command="bold"]::after {
		background-position: 24px center
	}

	.bluespot-content [data-wysihtml5-command="italic"]::after {
		background-position: -48px center
	}

	.bluespot-content [data-wysihtml5-command="insertUnorderedList"]::after {
		background-position: -115px center
	}

	.bluespot-content [data-wysihtml5-command="insertOrderedList"]::after {
		background-position: -197px center
	}

	.bluespot-content [data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]::after {
		background-position: -344px center
	}

	.bluespot-content [data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]::after {
		background-position: -428px center
	}

	.bluespot-content [data-wysihtml5-command="createLink"]::after {
		background-position: -271px center
	}

	.bluespot-content [data-wysihtml5-action="change_view"]::after {
		background-position: -670px center
	}

.bluespot-image-block {
	width: 100%;
	float: left;
	margin-right: 2.36382%;
	display: inline;
	height: 200px;
	margin-top: 35px;
	padding: 1rem
}

.bluespot-image {
	position: relative;
	float: left;
	max-width: 30%;
	margin-right: 1em;
	min-width: 1em;
	height: 100%;
	display: inline-block
}

	.bluespot-image img {
		max-height: 100%
	}

	.bluespot-image .remove-image {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		color: red
	}

.bluespot-footer {
	width: 100%;
	float: left;
	margin-right: 2.36382%;
	display: inline;
	height: 150px;
	background-image: url("../images/blue_footer.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	font-size: 11px
}

	.bluespot-footer textarea {
		max-height: 100px;
		min-height: 100px;
		resize: none
	}

.bluespot-address {
	width: 40.28777%;
	float: left;
	margin-right: 2.36382%;
	display: inline
}

.bluespot-tel {
	width: 31.75745%;
	float: left;
	margin-right: 2.36382%;
	display: inline
}

.bluespot-tools {
	width: 100%;
	float: left;
	margin-right: 2.36382%;
	display: inline
}

	.bluespot-tools .back {
		float: left
	}

	.bluespot-tools .send {
		float: right;
		margin-left: 1em
	}

	.bluespot-tools .save {
		float: right;
		margin-left: 1em
	}

.error {
	color: red
}

.bluespot-list-container {
	*zoom: 1;
	padding-left: 1.15em;
	padding-right: 1.15em;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px
}

	.bluespot-list-container:after {
		content: "";
		display: table;
		clear: both
	}

	.bluespot-list-container .tablesorter-blue td {
		padding: 0.5rem;
		vertical-align: middle
	}

	.bluespot-list-container .tablesorter-blue tr:hover td {
		background: inherit;
		color: #002845;
		cursor: inherit
	}

	.bluespot-list-container .tablesorter-blue tr:hover a {
		color: inherit
	}

	.bluespot-list-container .tablesorter-blue a:hover {
		*zoom: 1;
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBCCD00', endColorstr='#FFF0FF47');
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjY2QwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZmY0NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bccd00), color-stop(100%, #f0ff47));
		background: -webkit-linear-gradient(top, #bccd00,#f0ff47);
		background: -webkit-linear-gradient(top, #bccd00, #f0ff47);
		background: linear-gradient(top, #bccd00,#f0ff47);
		color: #036
	}

	.bluespot-list-container .tablesorter--left .tablesorter-header {
		padding-left: 1.5rem;
		padding-right: 0.5rem;
		background-position: center left
	}

	.bluespot-list-container .btn {
		line-height: 20px;
		min-height: 30px;
		margin: 0px 4px 4px 2px
	}

	.bluespot-list-container input[type=text] {
		min-height: 30px;
		line-height: 30px
	}

	.bluespot-list-container .new-salesletter {
		min-width: 12rem
	}

.center-logo {
	padding: 1em
}

	.center-logo img {
		margin: 0 auto;
		max-height: 100px;
		display: block
	}

.center-btn {
	width: 6rem;
	left: 50%;
	margin-left: -3rem !important
}

.bluespot-list-header {
	background-color: #fff
}

.bluespot-check input {
	margin: 0.5rem auto;
	display: block
}

.bluespot-list-note-container {
	min-width: 22rem
}

.bluespot-list-note {
	min-width: 4rem;
	min-height: 1em
}

.bluespot-login {
	clear: left;
	margin: 0 auto;
	width: 12rem;
	padding: 0.5em
}

	.bluespot-login label {
		clear: both
	}

	.bluespot-login input {
		clear: left
	}

.btn {
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF0FF47', endColorstr='#FFBCCD00');
	box-shadow: #444 0px 2px 4px;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZmY0NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JjY2QwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0ff47), color-stop(100%, #bccd00));
	background: -webkit-linear-gradient(top, #f0ff47,#bccd00);
	background: -webkit-linear-gradient(top, #f0ff47, #bccd00);
	background: linear-gradient(top, #f0ff47,#bccd00);
	border-radius: 10px;
	overflow: hidden;
	font-family: "Sansa Con Soft Pro Regular";
	font-size: 18px !important;
	text-transform: uppercase !important;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #becf02;
	color: #036;
	display: inline-block;
	padding: 0.5em 1em;
	line-height: 22px;
	min-height: 40px
}

.grey.btn {
	border: 1px solid #cbcbcb;
	color: #000;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F5F5', endColorstr='#FFD6D6D6');
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #d6d6d6));
	background: -webkit-linear-gradient(top, #f5f5f5,#d6d6d6);
	background: -webkit-linear-gradient(top, #f5f5f5, #d6d6d6);
	background: linear-gradient(top, #f5f5f5,#d6d6d6)
}

	.grey.btn:hover {
		*zoom: 1;
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD6D6D6', endColorstr='#FFF5F5F5');
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #f5f5f5));
		background: -webkit-linear-gradient(top, #d6d6d6,#f5f5f5);
		background: -webkit-linear-gradient(top, #d6d6d6, #f5f5f5);
		background: linear-gradient(top, #d6d6d6,#f5f5f5)
	}

.btn-filtering.btn {
	margin: 0px 4px 10px 2px;
	box-shadow: #b4b4b4 3px 3px 3px
}

.btn-filtering.active.btn {
	border: 1px solid #c6c6c6;
	color: #fff;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD4D4D4', endColorstr='#FF909090');
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZDRkNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkwOTA5MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #909090));
	background: -webkit-linear-gradient(top, #d4d4d4,#909090);
	background: -webkit-linear-gradient(top, #d4d4d4, #909090);
	background: linear-gradient(top, #d4d4d4,#909090)
}

	.btn-filtering.active.btn:hover {
		*zoom: 1;
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF909090', endColorstr='#FFD4D4D4');
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwOTA5MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q0ZDRkNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #909090), color-stop(100%, #d4d4d4));
		background: -webkit-linear-gradient(top, #909090,#d4d4d4);
		background: -webkit-linear-gradient(top, #909090, #d4d4d4);
		background: linear-gradient(top, #909090,#d4d4d4)
	}

.widget--button.btn {
	min-height: 35px;
	line-height: 19px;
	vertical-align: baseline
}

.btn:hover {
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBCCD00', endColorstr='#FFF0FF47');
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjY2QwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZmY0NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bccd00), color-stop(100%, #f0ff47));
	background: -webkit-linear-gradient(top, #bccd00,#f0ff47);
	background: -webkit-linear-gradient(top, #bccd00, #f0ff47);
	background: linear-gradient(top, #bccd00,#f0ff47);
	text-decoration: none
}

.btn:visited {
	color: #000
}

.btn-small.btn {
	font-size: 14px !important
}

.button-wrap {
	text-align: center;
	margin: 1em 0
}

.btn {
	position: relative
}

.lt-ie9 .btn {
	position: relative;
	min-height: 0px
}

input {
	position: relative
}

	input[type=text], input[type=password], input[type=tel], input[type=email], input[type=number] {
		border: 1px solid #aaa;
		box-shadow: #aaa 0px 2px 4px inset;
		border-radius: 6px;
		background: #f7f7f7;
		min-height: 40px;
		line-height: 40px;
		padding: 0 8px
	}

	input.required:after {
		content: "*"
	}

textarea {
	border: 1px solid #aaa;
	box-shadow: #aaa 0px 2px 4px inset;
	border-radius: 6px;
	background: #f7f7f7;
	min-height: 125px;
	line-height: 1.5;
	padding: 8px;
	width: 100%;
	max-width: 500px
}

::-webkit-input-placeholder {
	text-transform: uppercase
}

:-moz-placeholder {
	text-transform: uppercase
}

::-moz-placeholder {
	text-transform: uppercase
}

:-ms-input-placeholder {
	text-transform: uppercase
}

.form--block {
	margin-bottom: 2em
}

	.form--block > div {
		margin-top: .5em;
		display: inline-block;
		width: 100%;
	}

		.form--block > div:first-child {
			margin-top: 0
		}

		.form--block > div.error {
			margin-top: 0
		}

		.form--block > div > input, .form--block > div > select, .form--block > div > textarea {
			display: block;
			width: 100%
		}

		.form--block > div select {
			font-size: 16px;
			line-height: 20px;
			padding: 8px 5px
		}

	.form--block .btn {
		margin-top: 1em
	}

.checkbox {
	margin-bottom: 1em
}

.checkbox__choice label {
	height: 30px
}

.no-svg .checkbox__choice input[type='radio'] {
	margin-left: 1em
}

.svg .checkbox__choice input[type='radio'] {
	visibility: hidden
}

	.svg .checkbox__choice input[type='radio']:checked + label:before {
		background-image: url("../images/checkbox_selected.svg")
	}

.svg .checkbox__choice label {
	padding-left: 1em
}

	.svg .checkbox__choice label:before {
		content: '';
		background-image: url("../images/checkbox_unselected.svg");
		background-repeat: no-repeat;
		background-position: center;
		margin-left: -1.25em;
		margin-top: -.2em;
		width: 2em;
		height: 2em;
		display: inline-block;
		vertical-align: middle;
		background-size: cover
	}

.checkbox__description {
	margin-bottom: .25em;
	display: block
}

.form--contact input[type=text], .form--contact input[type=tel], .form--contact input[type=email], .form--contact input[type=number], .form--contact textarea, .form--contact select {
	margin-bottom: 1.5em;
	display: inline-block;
	width: 100%;
	box-shadow: none
}

.form--contact ::-webkit-input-placeholder {
	text-transform: none;
	font-style: italic
}

.form--contact :-moz-placeholder {
	text-transform: none;
	font-style: italic
}

.form--contact ::-moz-placeholder {
	text-transform: none;
	font-style: italic
}

.form--contact :-ms-input-placeholder {
	text-transform: none;
	font-style: italic
}

.form--contact input[type=submit] {
	float: right
}

.form--contact label {
	margin-bottom: 0.75em;
	display: inline-block
}

.form--contact textarea {
	max-width: none
}

.selectize-control {
	position: relative;
	margin-bottom: 1.5em
}

.selectize-dropdown, .selectize-input, .selectize-input input {
	color: #303030;
	font-family: inherit;
	font-size: inherit;
	line-height: 18px;
	-webkit-font-smoothing: inherit
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
	background: #ffffff;
	cursor: text;
	display: inline-block
}

.selectize-input {
	border: 1px solid #aaa;
	padding: 0 8px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 6px;
	min-height: 40px;
	line-height: 40px
}

.selectize-control.multi .selectize-input.has-items {
	padding: 6px 8px 3px
}

.selectize-input.full {
	background-color: #ffffff
}

.selectize-input.disabled, .selectize-input.disabled * {
	cursor: default !important
}

.selectize-input.focus {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.15)
}

.selectize-input.dropdown-active {
	border-radius: 6px 6px 0 0
}

.selectize-input > * {
	vertical-align: baseline;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline
}

.selectize-control.multi .selectize-input > div {
	cursor: pointer;
	margin: 0 3px 3px 0;
	padding: 2px 6px;
	background: #f2f2f2;
	color: #303030;
	border: 0 solid #d0d0d0
}

	.selectize-control.multi .selectize-input > div.active {
		background: #e8e8e8;
		color: #303030;
		border: 0 solid #cacaca
	}

.selectize-control.multi .selectize-input.disabled > div, .selectize-control.multi .selectize-input.disabled > div.active {
	color: #7d7d7d;
	background: #ffffff;
	border: 0 solid #ffffff
}

.selectize-input > input {
	padding: 0 !important;
	min-height: 0 !important;
	max-height: none !important;
	max-width: 100% !important;
	margin: 0 2px 0 0 !important;
	text-indent: 0 !important;
	border: 0 none !important;
	background: none !important;
	line-height: inherit !important;
	-webkit-user-select: auto !important;
	box-shadow: none !important
}

	.selectize-input > input::-ms-clear {
		display: none
	}

	.selectize-input > input:focus {
		outline: none !important
	}

.selectize-input::after {
	content: ' ';
	display: block;
	clear: left
}

.selectize-input.dropdown-active::before {
	content: ' ';
	display: block;
	position: absolute;
	background: #c4c4c4;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0
}

.selectize-dropdown {
	position: absolute;
	z-index: 10;
	border: 1px solid #aaa;
	background: #ffffff;
	margin: -1px 0 0 0;
	border-top: 0 none;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	border-radius: 0 0 6px 6px
}

	.selectize-dropdown [data-selectable] {
		cursor: pointer;
		overflow: hidden
	}

		.selectize-dropdown [data-selectable] .highlight {
			background: rgba(125,168,208,0.2);
			border-radius: 1px
		}

	.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
		padding: 5px 8px
	}

	.selectize-dropdown .optgroup:first-child .optgroup-header {
		border-top: 0 none
	}

	.selectize-dropdown .optgroup-header {
		color: #303030;
		background: #ffffff;
		cursor: default
	}

	.selectize-dropdown .active {
		background-color: #c1e5f6;
		color: #495c68
	}

		.selectize-dropdown .active.create {
			color: #495c68
		}

	.selectize-dropdown .create {
		color: rgba(48,48,48,0.5)
	}

.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
	cursor: pointer
}

	.selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input {
		cursor: text
	}

	.selectize-control.single .selectize-input:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 50%;
		right: 15px;
		margin-top: -3px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 5px 0 5px;
		border-color: #808080 transparent transparent transparent
	}

.form--contact .selectize-control.single .selectize-input:after {
	content: '\f0dd';
	font-family: FontAwesome;
	font-size: 3em;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #f9b305;
	width: 45px;
	height: 43px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 0.75;
	border: none;
	z-index: 9
}

.form--contact .selectize-control.single .selectize-input.dropdown-active:after {
	content: '\f0de';
	line-height: 1.4;
	margin: 0;
	cursor: pointer
}

.selectize-control.single .selectize-input.dropdown-active:after {
	margin-top: -4px;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent #808080 transparent
}

.selectize-control.rtl.single .selectize-input:after {
	left: 15px;
	right: auto
}

.selectize-control.rtl .selectize-input > input {
	margin: 0 4px 0 -2px !important
}

.selectize-control .selectize-input.disabled {
	opacity: 0.5;
	background-color: #fafafa
}

.section-box {
	border-radius: 10px;
	margin-bottom: 2em;
	position: relative;
	z-index: 10
}

	.section-box:after {
		border-radius: 10px;
		content: "";
		background-color: #fff;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		float: left;
		z-index: -1;
		left: 0px;
		top: 0px
	}

	.section-box:hover {
		text-decoration: none
	}

		.section-box:hover .section-box__shadow {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			opacity: 1;
			background: transparent;
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"
		}

.section-box__image-wrapper {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	height: 140px
}

	.section-box__image-wrapper img {
		width: 100%
	}

.section-box__header {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: "arial";
	font-size: 20px;
	font-weight: 300;
	background-image: url('/images/mand.png');
	background-repeat: no-repeat;
	background-position: right center;
	color: #036;
	text-transform: uppercase;
	line-height: 22px;
	margin: 0 1em 0.4em 0;
	padding-top: 0.6em;
	padding-right: 2em;
	padding-bottom: 0.6em;
	padding-left: 20px;
	max-height: 60px;
	min-height: 36px;
	overflow: hidden
}

.section-box__header--noarrow {
	background-image: none
}

.section-box__shadow {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	opacity: 0.75;
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
	position: absolute;
	z-index: -1;
	width: 110%;
	left: -5%;
	bottom: -1em
}

	.section-box__shadow img {
		width: 100%
	}

.section-box__intro {
	color: #036;
	max-height: 60px;
	overflow: hidden;
	margin-top: -.4em;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 1em;
	padding-bottom: 20px
}

.section-box__type {
	position: absolute;
	bottom: 10px;
	padding-left: 20px;
	padding-right: 20px
}

@media (max-width: 600px) {
	.section-box__type {
		display: none
	}
}

.section-boxes--employees {
	overflow: visible;
	margin-bottom: 1.5em;
	float: left;
	width: 100%
}

.section-box--employee .section-box__info-wrapper {
	padding: 22px
}

@media only screen and (max-width: 711px) {
	.section-box--employee .section-box__info-wrapper {
		padding: 11px
	}
}

.section-box--employee .section-box__header {
	background-image: none;
	padding: 0 0.1em
}

@media only screen and (max-width: 711px) {
	.section-box--employee .section-box__header {
		padding-left: 70px;
		min-height: 2em;
		height: auto;
		max-height: none
	}
}

.section-box.section-box--flat {
	width: 100%;
	margin: 0;
	margin-bottom: 22px;
	padding: 8px;
	padding-right: 1em
}

	.section-box.section-box--flat .section-box__image-wrapper {
		border-radius: 10px;
		position: absolute;
		height: 55px;
		width: 73px
	}

		.section-box.section-box--flat .section-box__image-wrapper img {
			height: 55px;
			width: auto
		}

	.section-box.section-box--flat .section-box__header {
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		background-color: transparent;
		padding-left: 85px;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 1.4em;
		height: 2.8em;
		margin: 0 1em 0 0
	}

.section-box-large {
	border-radius: 10px;
	width: 100%;
	margin: 0;
	margin-bottom: 22px;
	display: block;
	padding-bottom: 22px;
	position: relative;
	z-index: 10
}

	.section-box-large:after {
		border-radius: 10px;
		content: "";
		background-color: #fff;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		float: left;
		z-index: -1;
		left: 0px;
		top: 0px
	}

	.section-box-large:hover {
		text-decoration: none
	}

		.section-box-large:hover .section-box__shadow {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			opacity: 1;
			background: transparent;
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"
		}

	.section-box-large .section-box__image-wrapper {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background-color: #fff;
		overflow: hidden;
		min-height: 140px;
		height: auto;
		width: 100%;
		position: relative
	}

		.section-box-large .section-box__image-wrapper img {
			width: 100%;
			height: auto
		}

	.section-box-large .section-box__header {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		font-family: "Sansa Con Soft Pro Regular";
		font-size: 20px;
		font-weight: 300;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAYCAYAAADpnJ2CAAAB2klEQVR42sXWUShDURzHcYBEeNGkRCWamJoI1F7UXlBoZWWmDTFR7QVNjYIXEaJWakqtQpLai4qUqBReJNFeeZFSyovyrf7qOq0huW59OrXu+t3fuefce+N+c0we3q9jNU6vg7AqGHULlIY+9OAMWX8duIQhWBGUn3UJtCGIeoRh+qvAU6xiHg+YwTM6v/PnDBnzkIEilKAczShFB0xwoRIOtMGKXjl3DAUYR0W0oBQkwIRMtMrUeODHIAIYxy7mcIwQrnCHE2kYkYbXeMV2rIaJMmbLReRrGjqRgykYMAszRtENGxbl3JA03EKFKNQGJUvDMqSjSRq6MaJp6JWGE9IwIA3PNQ0vlYa3eENEGxgvYw6SUIRc1MICKwZgkYZ1WEYTluCDF0HYEUYn9tGFHfg/TaU0LEQqamCUaeqDS9r0S0OHNPTjFHvYxA02pGHg4x7iEQe4wJP23uUrgS1wwo4FtCuB3iiBK0rgmhoYa0rNsP5wSvuVKR2ONqXJEqQuGs8XiyYUZdEcKYvmTF002uA0GbOVjV8NJ0o122IZZkyjGz1YRIM0LJCGFsi2+Hrju3+x8V/Ujf+ThuqjzQAXiuFAY6xHm64Pb/1fT/q/gPX/xPj/jyjdPxPfAX4XhtqBu2B9AAAAAElFTkSuQmCC');
		background-repeat: no-repeat;
		background-position: center right 15px;
		color: #036;
		text-transform: uppercase;
		line-height: 22px;
		margin: 0 1em 0.4em 0;
		padding-top: 0.6em;
		padding-right: 2em;
		padding-bottom: 0.6em;
		padding-left: 20px;
		max-height: 60px;
		min-height: 36px;
		overflow: hidden
	}

	.section-box-large .section-box__shadow {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
		opacity: 0.75;
		background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
		position: absolute;
		z-index: -1;
		width: 110%;
		left: -5%;
		bottom: -1em
	}

		.section-box-large .section-box__shadow img {
			width: 100%
		}

.section-box__content {
	font-family: "Sansa Con Soft Pro Regular";
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0;
	color: #036
}

.statement {
	*zoom: 1;
	background-color: white;
	z-index: 10;
	padding-top: 2em;
	padding-bottom: 2em
}

	.statement:after {
		content: "";
		display: table;
		clear: both
	}

	.statement .btn {
		text-align: center
	}

.statement__bargain {
	font-family: "Sansa Con Soft Pro Regular";
	color: #69c0e8;
	text-align: center
}

.bargain__number {
	font-size: 5em;
	line-height: .75em
}

.bargain__text {
	font-size: 2.5em
}

.statement__content {
	font-family: "Sansa Con Soft Pro Bold";
	font-size: 1.25em;
	margin: 0;
	color: #036
}

.tooltip-toggle {
	border-radius: 50%;
	margin-bottom: 4px;
	float: right;
	cursor: pointer;
	background-color: #036;
	color: white;
	width: 18px;
	height: 18px;
	text-align: center;
	font-weight: bold;
	padding: 2px;
	line-height: 14px
}

	.tooltip-toggle:hover, .tooltip-toggle.active {
		text-decoration: none;
		color: #036;
		border: 1px solid #036;
		background-color: white
	}

.tooltip {
	display: none;
	padding: 0 1em 1em 1em
}
