@media (max-width: 44.45em) {
	.header {
		min-height: 60px;
		position: relative;
		margin-bottom: 0
	}

	.slim-footer {
		position: relative
	}

		.slim-footer .installatoer-login, .slim-footer .co2-neutral {
			margin: 1.7em auto;
			text-align: center
		}

	.section-box {
		width: 100%;
		float: right;
		margin-right: 0;
		padding: 8px;
		padding-right: 1em;
		margin-bottom: 1.5em
	}

	.section-box__image-wrapper {
		border-radius: 10px;
		position: absolute;
		height: 55px;
		width: 73px
	}

		.section-box__image-wrapper img {
			height: 55px
		}

	.section-box__header {
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		background-color: transparent;
		padding-left: 85px;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 1.4em;
		height: 2.8em;
		margin: 0 1em 0 0
	}

	.section-box__shadow {
		bottom: -20px
	}
}
