.slim-footer--cms {
	background: #000
}

.custom-color-dark .banner .title {
	color: #fff
}

.custom-color-dark .bar {
	background: #383a39
}

.custom-color-dark .banner {
	background-color: #424242;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF424242', endColorstr='#FF3E3E3E');
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNDI0MiIvPjxzdG9wIG9mZnNldD0iNzElIiBzdG9wLWNvbG9yPSIjNmE2YTZhIi8+PHN0b3Agb2Zmc2V0PSI5NiUiIHN0b3AtY29sb3I9IiM0NTQ1NDUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZTNlM2UiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #424242), color-stop(71%, #6a6a6a), color-stop(96%, #454545), color-stop(100%, #3e3e3e));
	background-image: -webkit-linear-gradient(top, #424242 0%,#6a6a6a 71%,#454545 96%,#3e3e3e 100%);
	background-image: -webkit-linear-gradient(top, #424242 0%, #6a6a6a 71%, #454545 96%, #3e3e3e 100%);
	background-image: linear-gradient(top, #424242 0%,#6a6a6a 71%,#454545 96%,#3e3e3e 100%)
}

.custom-color-dark a.widget--toggle-open {
	background-color: #e2001a
}

.custom-color-dark .btn {
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF1EA7C', endColorstr='#FFE7DC20');
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZWE3YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZGMyMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1ea7c), color-stop(100%, #e7dc20));
	background: -webkit-linear-gradient(top, #f1ea7c,#e7dc20);
	background: -webkit-linear-gradient(top, #f1ea7c, #e7dc20);
	background: linear-gradient(top, #f1ea7c,#e7dc20);
	border: 1px solid #d6cc17;
	color: #036
}

	.custom-color-dark .btn:hover {
		*zoom: 1;
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE7DC20', endColorstr='#FFF1EA7C');
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZGMyMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxZWE3YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7dc20), color-stop(100%, #f1ea7c));
		background: -webkit-linear-gradient(top, #e7dc20,#f1ea7c);
		background: -webkit-linear-gradient(top, #e7dc20, #f1ea7c);
		background: linear-gradient(top, #e7dc20,#f1ea7c)
	}

.custom-color-dark .local-footer {
	background: #696b6a;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(15%, #696b6a), color-stop(82%, #454746), color-stop(100%, #454746), color-stop(100%, #454746));
	background: -webkit-radial-gradient(center, ellipse cover, #696b6a 15%, #454746 82%, #454746 100%, #454746 100%);
	background: -webkit-radial-gradient(center, ellipse, #696b6a 15%, #454746 82%, #454746 100%, #454746 100%);
	background: radial-gradient(ellipse at center, #696b6a 15%,#454746 82%,#454746 100%,#454746 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696b6a', endColorstr='#454746',GradientType=1 )
}

.custom-color-dark .slim-footer--cms {
	background: #000
}

.custom-color-blue .banner .title {
	color: #fff
}

.custom-color-blue .bar {
	background: #006da5
}

.custom-color-blue .banner {
	background-color: #1c85bc;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1C85BC', endColorstr='#FF00568B');
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjODViYyIvPjxzdG9wIG9mZnNldD0iNzElIiBzdG9wLWNvbG9yPSIjNGZjNmZmIi8+PHN0b3Agb2Zmc2V0PSI5NiUiIHN0b3AtY29sb3I9IiMwMDZkYTUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU2OGIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c85bc), color-stop(71%, #4fc6ff), color-stop(96%, #006da5), color-stop(100%, #00568b));
	background-image: -webkit-linear-gradient(top, #1c85bc 0%,#4fc6ff 71%,#006da5 96%,#00568b 100%);
	background-image: -webkit-linear-gradient(top, #1c85bc 0%, #4fc6ff 71%, #006da5 96%, #00568b 100%);
	background-image: linear-gradient(top, #1c85bc 0%,#4fc6ff 71%,#006da5 96%,#00568b 100%)
}

.custom-color-blue a.widget--toggle-open {
	background-color: #e2001a
}

.custom-color-blue .btn {
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF0FF47', endColorstr='#FFBCCD00');
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZmY0NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JjY2QwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0ff47), color-stop(100%, #bccd00));
	background: -webkit-linear-gradient(top, #f0ff47,#bccd00);
	background: -webkit-linear-gradient(top, #f0ff47, #bccd00);
	background: linear-gradient(top, #f0ff47,#bccd00);
	border: 1px solid #becf02;
	color: #036
}

	.custom-color-blue .btn:hover {
		*zoom: 1;
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBCCD00', endColorstr='#FFF0FF47');
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjY2QwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZmY0NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bccd00), color-stop(100%, #f0ff47));
		background: -webkit-linear-gradient(top, #bccd00,#f0ff47);
		background: -webkit-linear-gradient(top, #bccd00, #f0ff47);
		background: linear-gradient(top, #bccd00,#f0ff47)
	}

.custom-color-blue .local-footer {
	background: #0098d4;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(15%, #0098d4), color-stop(82%, #00598d), color-stop(100%, #00598d), color-stop(100%, #00598d));
	background: -webkit-radial-gradient(center, ellipse cover, #0098d4 15%, #00598d 82%, #00598d 100%, #00598d 100%);
	background: -webkit-radial-gradient(center, ellipse, #0098d4 15%, #00598d 82%, #00598d 100%, #00598d 100%);
	background: radial-gradient(ellipse at center, #0098d4 15%,#00598d 82%,#00598d 100%,#00598d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098d4', endColorstr='#00598d',GradientType=1 )
}

.custom-color-blue .slim-footer--cms {
	background: #000
}

.custom-color-red .banner .title {
	color: #69c0e8
}

.custom-color-red .bar {
	background: #f80302
}

.custom-color-red .banner {
	background-color: #005e94;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF005E94', endColorstr='#FF023656');
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNWU5NCIvPjxzdG9wIG9mZnNldD0iNzElIiBzdG9wLWNvbG9yPSIjMDA5ZGRhIi8+PHN0b3Agb2Zmc2V0PSI5NiUiIHN0b3AtY29sb3I9IiMwMzUyODUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjM2NTYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #005e94), color-stop(71%, #009dda), color-stop(96%, #035285), color-stop(100%, #023656));
	background-image: -webkit-linear-gradient(top, #005e94 0%,#009dda 71%,#035285 96%,#023656 100%);
	background-image: -webkit-linear-gradient(top, #005e94 0%, #009dda 71%, #035285 96%, #023656 100%);
	background-image: linear-gradient(top, #005e94 0%,#009dda 71%,#035285 96%,#023656 100%)
}

.custom-color-red a.widget--toggle-open {
	background-color: #002e5c
}

.custom-color-red .btn {
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF94CAE5', endColorstr='#FF42A1D1');
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0Y2FlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQyYTFkMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94cae5), color-stop(100%, #42a1d1));
	background: -webkit-linear-gradient(top, #94cae5,#42a1d1);
	background: -webkit-linear-gradient(top, #94cae5, #42a1d1);
	background: linear-gradient(top, #94cae5,#42a1d1);
	border: 1px solid #3196c9;
	color: #fff
}

	.custom-color-red .btn:hover {
		*zoom: 1;
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF42A1D1', endColorstr='#FF94CAE5');
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyYTFkMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk0Y2FlNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42a1d1), color-stop(100%, #94cae5));
		background: -webkit-linear-gradient(top, #42a1d1,#94cae5);
		background: -webkit-linear-gradient(top, #42a1d1, #94cae5);
		background: linear-gradient(top, #42a1d1,#94cae5)
	}

.custom-color-red .local-footer {
	background: #ff061c;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(15%, #ff061c), color-stop(82%, #cb0401), color-stop(100%, #cb0401), color-stop(100%, #cb0401));
	background: -webkit-radial-gradient(center, ellipse cover, #ff061c 15%, #cb0401 82%, #cb0401 100%, #cb0401 100%);
	background: -webkit-radial-gradient(center, ellipse, #ff061c 15%, #cb0401 82%, #cb0401 100%, #cb0401 100%);
	background: radial-gradient(ellipse at center, #ff061c 15%,#cb0401 82%,#cb0401 100%,#cb0401 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff061c', endColorstr='#cb0401',GradientType=1 )
}

.custom-color-red .slim-footer--cms {
	background: #000
}

.custom-color-orange .banner .title {
	color: #69c0e8
}

.custom-color-orange .bar {
	background: #b16600
}

.custom-color-orange .banner {
	background-color: #005e94;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF005E94', endColorstr='#FF023656');
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNWU5NCIvPjxzdG9wIG9mZnNldD0iNzElIiBzdG9wLWNvbG9yPSIjMDA5ZGRhIi8+PHN0b3Agb2Zmc2V0PSI5NiUiIHN0b3AtY29sb3I9IiMwMzUyODUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjM2NTYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #005e94), color-stop(71%, #009dda), color-stop(96%, #035285), color-stop(100%, #023656));
	background-image: -webkit-linear-gradient(top, #005e94 0%,#009dda 71%,#035285 96%,#023656 100%);
	background-image: -webkit-linear-gradient(top, #005e94 0%, #009dda 71%, #035285 96%, #023656 100%);
	background-image: linear-gradient(top, #005e94 0%,#009dda 71%,#035285 96%,#023656 100%)
}

.custom-color-orange a.widget--toggle-open {
	background-color: #019dda
}

.custom-color-orange .btn {
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF0FF47', endColorstr='#FFBCCD00');
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZmY0NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JjY2QwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0ff47), color-stop(100%, #bccd00));
	background: -webkit-linear-gradient(top, #f0ff47,#bccd00);
	background: -webkit-linear-gradient(top, #f0ff47, #bccd00);
	background: linear-gradient(top, #f0ff47,#bccd00);
	border: 1px solid #becf02;
	color: #036
}

	.custom-color-orange .btn:hover {
		*zoom: 1;
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBCCD00', endColorstr='#FFF0FF47');
		background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjY2QwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZmY0NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bccd00), color-stop(100%, #f0ff47));
		background: -webkit-linear-gradient(top, #bccd00,#f0ff47);
		background: -webkit-linear-gradient(top, #bccd00, #f0ff47);
		background: linear-gradient(top, #bccd00,#f0ff47)
	}

.custom-color-orange .local-footer {
	background: #ff7b08;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(15%, #ff7b08), color-stop(82%, #ca7500), color-stop(100%, #ca7500), color-stop(100%, #ca7500));
	background: -webkit-radial-gradient(center, ellipse cover, #ff7b08 15%, #ca7500 82%, #ca7500 100%, #ca7500 100%);
	background: -webkit-radial-gradient(center, ellipse, #ff7b08 15%, #ca7500 82%, #ca7500 100%, #ca7500 100%);
	background: radial-gradient(ellipse at center, #ff7b08 15%,#ca7500 82%,#ca7500 100%,#ca7500 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7b08', endColorstr='#ca7500',GradientType=1 )
}

.custom-color-orange .slim-footer--cms {
	background: #003875
}

.installer-map-container {
	clear: both;
	width: 100%;
	min-height: 400px;
	position: relative
}

.installer-map {
	width: 100%;
	height: 400px
}

	.installer-map img {
		max-width: none
	}

#installer_map_canvas {
	height: 100%
}

.labels {
	color: #036;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 120px;
	white-space: nowrap;
	text-align: center;
	font-family: "Sansa Con Soft Pro Regular", sans-serif
}

.dropdown-modal {
	position: absolute;
	width: 100%;
	z-index: 999;
	top: 180px;
	bottom: 0;
	background: rgba(0,0,0,0.7)
}

.dropdown {
	float: right;
	width: 90%;
	background: #fff;
	border-radius: 0 0 10px 10px;
	border-top: 1px solid #7d9fb8;
	padding: 1.5em;
	margin-left: 6em
}

	.dropdown .title {
		color: #004578
	}

.dropdown__menu-container {
	width: 48.81809%;
	float: left;
	margin-right: 2.36382%;
	display: inline
}

.dropdown__menu {
	float: left;
	padding-left: 0;
	padding-right: 1.5em;
	width: 100%;
	color: #004578
}

	.dropdown__menu li {
		float: left;
		width: 48%;
		list-style: none;
		margin-bottom: 0.75em
	}

	.dropdown__menu a {
		color: #004578;
		font-family: "Sansa Con Soft Pro Regular", sans-serif
	}

.dropdown-active:after {
	position: relative;
	content: ' ';
	display: block;
	margin: 30px auto 0 auto;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid orange
}

.cookie, .cookie__toggle {
	position: fixed;
	bottom: 0;
	left: 0
}

.cookie {
	z-index: 1000;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased
}

.cookie__toggle {
	cursor: pointer;
	width: 60px;
	height: 60px;
	z-index: 1001;
	background-image: url("/assets/build/images/footprints.png");
	background-repeat: no-repeat
}

.cookie__info {
	z-index: 1002;
	border-radius: 3px;
	background-color: #3d3d3d;
	color: white;
	font-size: .9em;
	padding: 1em;
	position: absolute;
	width: 225px;
	bottom: 2.5em;
	left: 2.5em;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translateX(-150%);
	-ms-transform: translateX(-150%);
	transform: translateX(-150%)
}

	.cookie__info p {
		margin-top: 0;
		margin-bottom: 18px
	}

	.cookie__info a {
		color: inherit
	}

	.cookie__info.is-vissible {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%)
	}

.no-csstransforms .cookie__info {
	display: none
}

	.no-csstransforms .cookie__info.is-vissible {
		display: block
	}

.cookie__button {
	display: block;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	border-radius: 4px;
	text-align: center;
	white-space: nowrap;
	font-size: 100%;
	line-height: 2.5;
	cursor: pointer;
	text-decoration: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 1.25em;
	padding-left: 1.25em;
	color: white;
	box-shadow: inset 0 0 0 1px #50c7ff,inset 0 1px 1px 1px rgba(255,255,255,0.2);
	background-color: #50c7ff;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#50c7ff', endColorstr='#50c7ff');
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #50c7ff), color-stop(100%, #50c7ff));
	background-image: -webkit-linear-gradient(top, #50c7ff 0%, #50c7ff 100%);
	background-image: linear-gradient(top, #50c7ff 0%,#50c7ff 100%)
}

.cookie__info__header {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
	line-height: 1
}

.cookie__close {
	position: absolute;
	cursor: pointer;
	top: .4em;
	right: .5em;
	font-size: 27px;
	line-height: 19px;
	font-family: sans-serif;
	font-weight: 100
}

.b-lazy {
	-webkit-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	max-width: 100%;
	opacity: 0
}

	.b-lazy.b-loaded {
		opacity: 1
	}

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none
}

.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none
}

.flexslider {
	margin: 0;
	padding: 0
}

	.flexslider .slides > li {
		display: none;
		-webkit-backface-visibility: hidden
	}

	.flexslider .slides img {
		width: 100%;
		display: block
	}

.flex-pauseplay span {
	text-transform: capitalize
}

.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

html[xmlns] .slides {
	display: block
}

* html .slides {
	height: 1%
}

.no-js .slides > li:first-child {
	display: block
}

.flexslider {
	margin: 4px 4px 60px;
	position: relative;
	-o-border-radius: 4px;
	border-radius: 4px;
	zoom: 1
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease
}

.loading .flex-viewport {
	max-height: 300px
}

.flexslider .slides {
	zoom: 1
}

.carousel li {
	margin-right: 0px;
	overflow: hidden
}

.flex-control-thumbs {
	margin: 0;
	position: static;
	overflow: hidden
}

	.flex-control-thumbs li {
		width: 20%;
		float: left;
		margin: 0
	}

	.flex-control-thumbs img {
		width: 100%;
		display: block;
		opacity: .6;
		filter: alpha(opacity=70);
		cursor: pointer
	}

		.flex-control-thumbs img:hover {
			opacity: 1;
			filter: alpha(opacity=100)
		}

	.flex-control-thumbs .flex-active {
		opacity: 1;
		filter: alpha(opacity=100);
		cursor: default;
		border: 1px solid #036
	}

.flex-caption {
	position: absolute;
	bottom: 0;
	display: block;
	width: inherit;
	height: auto;
	margin: 0;
	color: #fff
}

	.flex-caption span {
		background: rgba(255,255,255,0.6);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99ffffff', endColorstr='#99ffffff');
		width: 100%;
		display: block;
		padding: 0.5em;
		color: #1a1a1a
	}

@media (min-width: 44.58125em) {
	.grid--last-tablet {
		float: right;
		margin-right: 0
	}

	.grid-width--half {
		width: 48.81809%;
		float: left;
		margin-right: 2.36382%
	}

	#breadcrumbs {
		margin-bottom: 1em;
		margin-top: 35px
	}

	.banner--installatoer-logo + .logo {
		width: 193px
	}

		.banner--installatoer-logo + .logo img {
			height: 133px
		}

		.banner--installatoer-logo + .logo h2.punchline {
			display: inline-block;
			position: absolute;
			bottom: 7px;
			right: 0px;
			color: #036;
			font: normal 13px/16px "Sansa Con Soft Pro Bold";
			text-transform: uppercase
		}

	.banner--media {
		width: 65.87873%;
		float: left;
		margin-right: 2.36382%
	}

	.banner--text {
		width: 31.75745%;
		float: right;
		margin-right: 0
	}

		.banner--text h2 {
			color: #fff;
			font: normal 1.3em/1.4em "Sansa Con Soft Pro Bold"
		}

	.takeover .bar .punchline {
		display: none
	}

	.header {
		height: 165px
	}

		.header .logo {
			overflow: hidden;
			color: transparent;
			top: 5px;
			position: absolute;
			z-index: 2
		}

			.header .logo .punchline {
				display: none
			}

		.header .bar {
			display: none
		}

		.header .nav-small-mobile-nav {
			display: none
		}

		.header .nav-small {
			width: 74.40904%;
			float: right;
			margin-right: 0;
			font-size: 12px;
			text-align: right;
			color: #004578;
			margin: 25px 0
		}

			.header .nav-small.mobile-nav {
				display: none
			}

			.header .nav-small a {
				display: inline-block
			}

			.header .nav-small li {
				text-transform: uppercase;
				display: inline-block;
				margin-left: 5px;
				font: normal 14px/16px "Sansa Con Soft Pro Regular";
				cursor: pointer
			}

				.header .nav-small li a.active-trail.active, .header .nav-small li a.active {
					color: red
				}

				.header .nav-small li:before {
					content: '\00B7';
					padding-right: 5px
				}

				.header .nav-small li:first-child:before {
					content: ' ';
					height: 0px;
					padding-right: 0
				}

		.header .top-search {
			width: 150px;
			background-color: #FFF;
			min-height: 30px;
			line-height: 30px;
			text-transform: none;
			font-style: italic;
			font-family: "Open Sans",Sans-serif;
			font-size: 12px
		}

		.header button.icon-search {
			width: 25px;
			height: 25px;
			background: none;
			border: none;
			font-size: 16px;
			color: #004578;
			cursor: pointer
		}

	.nav-main .logo {
		width: 14.69681%;
		float: left;
		margin-right: 2.36382%
	}

	.nav-main ul {
		width: 74.40904%;
		float: left;
		margin-right: 2.36382%
	}

	.nav-main li {
		display: inline-block
	}

	.nav-main .nav-utility {
		width: 23.22713%;
		float: right;
		margin-right: 0
	}

	.nav-main a, .nav-sub a {
		display: inline-block
	}

		.nav-main a.active-trail:after, .nav-sub a.active-trail:after {
			content: "";
			width: 0px;
			height: 0px;
			border-style: none;
			border-width: 12.5px 12.5px 0 12.5px;
			border-color: #fff transparent transparent transparent;
			position: absolute;
			bottom: -12px;
			margin: 0 40%;
			display: block
		}

	.nav-main ul, .nav-sub ul {
		text-align: right;
		float: right;
		border-top: 0px solid #7d9fb8
	}

	.nav-main li.active, .nav-sub li.active {
		font: normal 18px/28px "Sansa Con Soft Pro Bold"
	}

	.nav-main li, .nav-sub li {
		display: inline-block;
		margin-left: 5px;
		font: normal 18px/28px "Sansa Con Soft Pro Regular";
		text-transform: uppercase
	}

		.nav-main li:before, .nav-sub li:before {
			content: '\00B7';
			padding-right: 5px
		}

		.nav-main li:first-child:before, .nav-sub li:first-child:before {
			content: ' ';
			padding-right: 0
		}

	.content:after {
		content: "";
		clear: both
	}

	.content.article-page {
		width: 65.87873%;
		float: left;
		margin-right: 2.36382%
	}

	.content .article--contact {
		width: 65.87873%;
		float: left;
		margin-right: 2.36382%
	}

	.content .node-article, .content .node-page {
		font-size: 14px
	}

	.content .news-item section {
		width: 74.10296%;
		float: right;
		margin-right: 0
	}

	.content .news-item > a {
		width: 22.30889%;
		float: left;
		margin-right: 3.58814%;
		display: block
	}

	.content.installatoerprofil {
		padding-bottom: 2em;
		width: 100%;
		float: left;
		margin-right: 2.36382%
	}

		.content.installatoerprofil .installatoer-page__main-text {
			width: 48.81809%;
			float: left;
			margin-right: 2.36382%
		}

		.content.installatoerprofil .installatoer-page__main-image {
			width: 48.81809%;
			float: right;
			margin-right: 0
		}

	.content.kontaktband-inner {
		width: 100%;
		float: left;
		margin-right: 2.36382%
	}

		.content.kontaktband-inner .call-or-meet {
			width: 48.81809%;
			float: right;
			margin-right: 0
		}

		.content.kontaktband-inner .direct-info {
			width: 48.81809%;
			float: left;
			margin-right: 2.36382%;
			text-align: left
		}

		.content.kontaktband-inner .extra {
			width: 31.75745%;
			float: left;
			margin-right: 2.36382%
		}

			.content.kontaktband-inner .extra:nth-child(3n) {
				float: right;
				margin-right: 0
			}

		.content.kontaktband-inner .favourite {
			float: right
		}

		.content.kontaktband-inner .address {
			margin-top: 6px
		}

		.content.kontaktband-inner .telephone {
			line-height: 40px
		}

	.banner {
		width: 100%;
		position: relative;
		min-height: 300px
	}

		.banner + .container-wrapper #breadcrumbs {
			margin-left: 0px
		}

	.banner--installatoer-logo-mobile {
		display: none
	}

	.banner--installatoer-logo {
		position: absolute;
		width: 261px;
		height: 90px;
		background-color: #fff;
		text-align: center;
		top: 150px;
		z-index: 100;
		box-shadow: #333 0px 4px 0px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px
	}

		.banner--installatoer-logo img {
			margin: 5px auto;
			max-width: 259px
		}

	.banner.installatoer--simple-banner .simple-banner--installatoer-tekst {
		display: inline;
		font: normal 45px/47px "Sansa Con Soft Pro Bold"
	}

	.installatoer--banner .banner--installatoer-tekst {
		margin-top: 1em;
		width: 40.28777%;
		float: right;
		margin-right: 0
	}

	.installatoer--banner .banner--installatoer-image-1 {
		width: 23.22713%;
		float: left;
		margin-right: 2.36382%;
		margin-top: 90px
	}

	.installatoer--banner .banner--installatoer-image-2 {
		width: 31.75745%;
		float: left;
		margin-right: 2.36382%
	}

		.installatoer--banner .banner--installatoer-image-2 img {
			float: right
		}

	.installatoer--banner .banner--installatoer-cta a.btn {
		float: right;
		margin: 20px 0
	}

	.bar {
		position: relative;
		background-color: #036;
		background-image: url("../images/bar.jpg");
		height: 53px
	}

		.bar h2.punchline {
			color: #fff;
			font: normal 18px/53px "Sansa Con Soft Pro Bold";
			text-transform: uppercase;
			margin-left: 80px;
			display: inline-block;
			margin-top: 0em
		}

	.aside {
		width: 31.75745%;
		float: right;
		margin-right: 0
	}

	.footer .social, .footer .news, .footer .turnaments, .footer .contact {
		width: 23.22713%;
		float: left;
		margin-right: 2.36382%
	}

	.footer .contact {
		float: right;
		margin-right: 0
	}

	.login-box {
		width: 31.75745%;
		float: right;
		margin-right: 0;
		right: 1.15em
	}

	.fat-footer .container {
		padding-right: 0;
		padding-left: 0
	}

	.fat-footer .box {
		width: 40.28777%;
		float: left;
		margin-right: 2.36382%;
		margin-right: 0;
		padding-left: 1.15em
	}

	.fat-footer li {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding-right: 10px
	}

	.slim-footer {
		position: relative;
		min-height: 60px
	}

		.slim-footer .installatoer-login, .slim-footer .co2-neutral {
			width: 23.22713%;
			float: left;
			margin-right: 2.36382%;
			line-height: 60px
		}

			.slim-footer .installatoer-login img, .slim-footer .co2-neutral img {
				margin-top: 15px
			}

	.slogan {
		background-image: url("../images/nyhedsbrev_bg.png");
		bottom: -85px;
		right: 0px;
		float: right;
		height: 328px;
		width: 400px;
		padding: 80px 30px 20px 70px
	}

		.slogan h2 {
			font: normal 35px/35px "Sansa Con Soft Pro Bold"
		}

		.slogan h3 {
			font: normal 18px/25px "Sansa Con Soft Pro Regular"
		}

	.section-box {
		width: 48.81809%;
		float: left;
		margin-right: 2.36382%
	}

		.section-box:nth-child(2n) {
			float: right;
			margin-right: 0
		}

	.section-box--article {
		height: 320px
	}

	.imgSection img, .imgSection {
		max-width: none;
		margin: 0 -138px;
		width: auto
	}

	.section-box__image-wrapper img {
		width: 100%
	}

	.section-filtering {
		margin: 1em 0
	}

	.csstransforms .widget--toggle {
		margin-top: -44px;
		float: left;
		width: 0px
	}

	.widget {
		width: 0px;
		position: fixed;
		right: 0px;
		bottom: 50%;
		margin-bottom: -100px
	}

		.widget.open {
			width: 347px
		}

		.widget.widget-two {
			margin-bottom: -227px
		}

			.widget.widget-two .widget--content {
				min-height: 455px
			}

	a.widget--toggle-link {
		display: block;
		background-image: url("../images/widget-kontakt-toggle.png");
		width: 51px;
		height: 132px;
		cursor: pointer
	}

	.widget--content-wrapper {
		width: 347px;
		padding: 22px
	}

	.widget--content.open {
		overflow-x: visible;
		width: 347px
	}

	.installatoer-oversigt__search_form {
		margin-bottom: 3.5em
	}

	.installatoer-oversigt__item, .contractor-row, .installatoer-oversigt__item-header {
		width: 100%;
		float: left;
		margin-right: 2.36382%
	}

		.installatoer-oversigt__item span, .contractor-row span, .installatoer-oversigt__item-header span {
			display: inline-block;
			padding: 0.4em
		}

		.installatoer-oversigt__item-header span {
			color: #004578 !important
		}

		.installatoer-oversigt__item a:hover, .contractor-row a:hover, .installatoer-oversigt__item .installatoer-oversigt__item__favourite:hover, .contractor-row .installatoer-oversigt__item__favourite:hover {
			color: #fff !important;
			background-color: #004578
		}

		.installatoer-oversigt__item .installatoer-oversigt__item__favourite, .contractor-row .installatoer-oversigt__item__favourite {
			text-align: center;
			max-height: 31px;
			overflow: hidden
		}

			.installatoer-oversigt__item .installatoer-oversigt__item__favourite i, .contractor-row .installatoer-oversigt__item__favourite i {
				cursor: pointer
			}

				.installatoer-oversigt__item .installatoer-oversigt__item__favourite i:hover:before, .contractor-row .installatoer-oversigt__item__favourite i:hover:before {
					content: "\f005"
				}

				.installatoer-oversigt__item .installatoer-oversigt__item__favourite i.active:hover:before, .contractor-row .installatoer-oversigt__item__favourite i.active:hover:before {
					content: ""
				}

		.installatoer-oversigt__item .basic-info-wrap, .contractor-row .basic-info-wrap, .installatoer-oversigt__item-header .basic-info-wrap {
			padding: 0 0.5em;
			min-height: 31px
		}

	.installatoer-oversigt__item-header__name, .installatoer-oversigt__item__name, .installatoer-oversigt__item-header__address, .installatoer-oversigt__item__address {
		width: 26.99424%;
		float: left;
		margin-right: 0.6976%
	}

	.installatoer-oversigt__item-header__zipcode, .installatoer-oversigt__item__zipcode {
		width: 11.8896%;
		float: left;
		margin-right: 0.6976%
	}

	.installatoer-oversigt__item__favourite {
		padding: 0 !important
	}

		.installatoer-oversigt__item__favourite i {
			font-size: 1.4em;
			margin: 5px 0;
			display: inline-block
		}

			.installatoer-oversigt__item__favourite i.active {
				background-image: url("../images/favourite-star.png");
				width: 20px;
				height: 21px;
				margin-bottom: 5px;
				display: inline-block
			}

				.installatoer-oversigt__item__favourite i.active:before {
					content: ""
				}

	.installatoer-oversigt__item-header__city, .installatoer-oversigt__item__city {
		width: 19.44192%;
		float: left;
		margin-right: 0.6976%
	}

	.installatoer-oversigt__item-header__phone, .installatoer-oversigt__item__phone {
		width: 11.8896%;
		float: right;
		margin-right: 0
	}

	.installatoer-oversigt__item-mobile__phone {
		display: none !important
	}
