@model String

<partial name="_Separator" model="@Model" />

<footer >
	<div class="footer-content hide-above-1000">
		<ul>
			<li>Recke El ApS</li>
			<li>
				<a href="tel:+4562261018">62 26 10 18</a>
			</li>
			<li>
				<a href="mailto:mail@recke-el.dk">mail@recke-el.dk</a>
			</li>
		</ul>
	</div>
	<div class="footer-content display-above-1000">
		<ul>
			<li>Recke El ApS</li>
			<li>Stationsvej 54</li>
			<li>5771 Stenstrup</li>
			<li>
				<a href="tel:+4562261018">62 26 10 18</a>
			</li>
			<li>
				<a href="mailo:mail@recke-el.dk">mail@recke-el.dk</a>
			</li>
		</ul>
	</div>
</footer>
<script src="https://app.weply.chat/widget/5111" async></script>
