@model String

<partial name="_Separator" model="@Model" />

<div id="Kontakt">
	<div class="container">

		<div class=" sixteen columns">

			<center><br /><br />
				<div id="kontakt"></div>
			</center>
			<br /><br />

		</div>

	</div> <!-- end container -->
</div> <!-- end bg -->
<img id="Menuknap" title="Menu" src="/images/menuknap.gif" style="position:fixed; cursor:pointer; z-index:999999; top:150px; left:2px" />
<script src="https://app.weply.chat/widget/5111" async></script>
