@model String

<partial name="_Separator" model="@Model" />

<div id="Kontakt">
    <div class="container">
        <div class="sixteen columns">
            <center>
                <br /><br />
                <div id="kontakt">
                    <div class="hide-above-1000">
                        Recke-El ApS <a href="tel:62 26 10 18">62 26 10 18</a> <a href="mailto:mail@recke-el.dk">mail@recke-el.dk</a>
                    </div>
                    <div class="display-above-1000">
                        <ul>
                            <li>Recke-El ApS</li>
                            <li>Stationsvej 54</li>
                            <li>5771 Stenstrup</li>
                            <li>62 26 10 18</li>
                            <li>
                                <a href="mailo:mail@recke-el.dk">mail@recke-el.dk</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </center>
            <br /><br />
        </div>
    </div>
</div>
<script src="https://app.weply.chat/widget/5111" async></script>
