@model String

<partial name="_Separator" model="@Model" />

<div id="Kontakt">
	<div class="container">
		<div class="sixteen columns">
			<center>
				<br /><br />
				<div id="kontakt"></div>
			</center>
			<br /><br />
		</div>
	</div>
</div>
<script src="https://app.weply.chat/widget/5111" async></script>
