@model String

<div class="container nav-container">
	<div class="nav-center">
		<div class="eight columns">
			<a id="el_installation" class="menuLeft" href="elinstallation">
				<img src="/images/elinstallation.jpg" class="produkt-image">
				<h5 class="menu-text">Elinstallation</h5>
			</a>
			<a id="Landbrug" class="menuLeft" href="landbrug">
				<img src="/images/Landbrug.jpg" class="produkt-image">
				<h5 class="menu-text">Landbrug</h5>
			</a>
			<a id="Industri" class="menuLeft" href="industri">
				<img src="/images/industri.jpg" class="produkt-image">
				<h5 class="menu-text">Industri</h5>
			</a>
			<a id="hvidevarer" class="menuLeft" href="hvidevarer">
				<img src="/images/hvidevarer.jpg" class="produkt-image">
				<h5 class="menu-text">Hvidevarer</h5>
			</a>
			<a id="butik" class="menuLeft" href="butik">
				<img src="/images/butik.jpg" class="produkt-image">
				<h5 class="menu-text">Butik</h5>
			</a>
		</div>
		<div class="eight columns">
			<a id="Energioptimering" class="menuLeft" href="energioptimering">
				<img src="/images/energioptimering.jpg" class="produkt-image">
				<h5 class="menu-text">Energioptimering</h5>
			</a>
			<a id="Eleftersyn" class="menuLeft" href="eleftersyn">
				<img src="/images/elsyn.jpg" class="produkt-image">
				<h5 class="menu-text">Eleftersyn</h5>
			</a>
			<a id="belysning" class="menuLeft" href="belysning">
				<img src="/images/belysning.jpg" class="produkt-image">
				<h5 class="menu-text">Belysning</h5>
			</a>
			<a id="it_data" class="menuLeft" href="it-data">
				<img src="/images/it-data.jpg" class="produkt-image">
				<h5 class="menu-text">Tele IT & Netværk</h5>
			</a>
		</div>
		<div class="clear"></div>
	</div>

	<div class="sixteen columns">
		<h2>
			<span class="lines">@Model</span>
		</h2>
	</div>
</div>
