@page
@{
	ViewData["Title"] = "Belysning";
	ViewData["Keywords"] = "Belysning, IHC, trådløst, elektriker, Stenstrup, Kværndrup, Ollerup, elinstallatør, Svendborg";
	ViewData["Description"] = "Vi laver boliginstallationer på hele sydfyn, og laver alt fra IHC til almindeligt elektrikker arbejde";
	ViewData["FooterBackground"] = "bg21";
}

<div class="bg">
	<partial name="_PageTitle" model= '"Belysning"' />

	<div class="container">

		<div class="eight columns">
			<h5>Eksperter i belysning siden 1958</h5>
			Leder du efter en kompetent, erfaren og effektiv elektriker med speciale i belysning og lysinstallationer? Hos Recke El har vi siden 1958 udført alle former for elinstallationer i private hjem, virksomheder og institutioner.
			<br /><br />
			Vores kompetenceområde omfatter alt fra elvarme og LED-belysning til intelligent lysstyring, der kan spare dig mange på energiregningen.

			Behagelig og billig belysning
			<br /><br />
			Har du overvejet, om belysningen i din bolig er optimal i forhold til dine behov? Moderne belysning kan ikke reduceres til, hvordan lampen ser ud. I dag er det også vigtigt at se på lyskildens funktion.
		</div>

		<div class="eight columns">
			Forestil dig at lyskilderne i din bolig tilpassede lysstyrken til lyset udenfor – og til, om du er i rummet eller ej. Det kan ikke alene give en mere hyggelig og tryg belysning i din bolig – der er også mange penge at spare, fordi strømforbruget dermed svarer til dit faktiske elforbrug.
			<br /><br />
			<h5>Få et uforpligtende tilbud</h5>
			Hos Recke El tager vi gerne en snak med dig om, hvordan den rette belysning kan give dig en bedre oplevelse i din bolig eller virksomhed – og samtidig spare dig penge.
			Ring i dag på <a href="tel:+4520225018">20 22 50 18</a> og få et uforpligtende tilbud. Vi dækker Svendborg og hele Sydfyn.
			<br /><br />
			<a href="lysstyring.html">læs mere om automatisk lysstyring her</a>
		</div>

	</div>

</div>
