@page
@{
	ViewData["Title"] = "Besøg vores butik på Stationsvej 54 i Stenstrup";
	ViewData["Keywords"] = "hvidevarer, lamper, støvsuger, elsalg, elektriker, elinstallatør, Stenstrup, Kværndrup, Ollerup, Svendborg";
	ViewData["Description"] = "Vi har elbutik i Stenstrup med lamper hårdehvidevare mm";
	ViewData["FooterBackground"] = "bg10";
}

<div class="bg">
	<partial name="_PageTitle" model= '"Besøg vores butik"' />

	<div class="container">

		<div class="eight columns">
			<img src="/images/butik.jpg" />
			<br /><br />
			<a href="https://elsalg.dk/andre-links/find-butik/25860-recke-el-vkaj-recke" target="_blank">Køb hvidevarer online i El-Salg her</a>
		</div>

		<div class="eight columns">
			<img src="/images/intro12.jpg" />
			<br /><br />
			<h5>Info:</h5>
			<br />
			<table>
				<tr>
					<td style="width:150px">Adresse:</td>
					<td>Stationsvej 54</td>
				</tr>
				<tr>
					<td></td>
					<td>5771 Stenstrup</td>
				</tr>
				<tr>
					<td>Mail:</td>
					<td>
						<a href="mailto:mail@recke-el.dk">mail@recke-el.dk</a>
					</td>
				</tr>
				<tr>
					<td>Telefon:</td>
					<td><a href="+4562261018">62 26 10 18</a></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td></td>
				</tr>
				<tr>
					<td>Vi har åbent</td>
					<td>Mandag - torsdag 9 til 11 og 16 til 17</td>
				</tr>
				<tr>
					<td></td>
					<td>Fredag og lørdag er du velkommen til at ringe, så åbner vi for dig.</td>
				</tr>
			</table>
			<br /><br />
		</div>

	</div>

</div>

<partial name="_Separator" model='"butik-1"' />

<div class="bg">

	<div class="container">
		<div class="sixteen columns">
			<h2>
				<span class="lines">Alt hvad du tænder på</span>
			</h2>
		</div>
	</div>

	<div class="container">

		<div class="eight columns">
			<img src="/images/butik-2.jpg" />
			<img src="/images/butik-3.jpg" />
			<br /><br />
		</div>
		
		<div class="eight columns">
			<img src="/images/butik-4.jpg" />
			<img src="/images/intro12.jpg" />
		</div>
	
	</div>

</div>
