@page
@{
	ViewData["Title"] = "Eleftersyn i Svendborg & Sydfyn | Service af elinstallationer i hjemmet";
	ViewData["Keywords"] = "";
	ViewData["Description"] = "Vi er medlem af Tekniqs garenti ordning, som giver dig sikkerhed, i en situation hvor vi kommer til at lave en fejl.";
	ViewData["FooterBackground"] = "bg7";
}

<div class="bg">
	<partial name="_PageTitle" model= '"Er elinstallationerne lovlige og funktionsdygtige?"' />

	<div class="container">

		<div class="eight columns">
			I forbindelse med hushandler skal man have tjekket elinstallationerne i boligen med henblik på at bestemme, om de er lovlige og funktionsdygtige. Hos Recke El udfører vi professionelle eleftersyn med en på samme tid grundig og effektiv tilgang.
			<br /><br />
			<embed src="http://www.youtube.com/v/9cFU5QI6680?version=3&amp;feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="auto" height="auto">
			<br /><br />
			<br /><br />
			<h5>Skal du flytte?</h5>
			Hvis du skal flytte, er det vigtigt, at der bliver udarbejdet en el-eftersynsrapport for den bolig, du flytter fra, men også den, du flytter ind i. På den måde slipper du for uforudsete problemer med elinstallationerne i dit nye hjem.
			<br /><br />
			Når vi kommer ud og laver eleftersyn, udarbejder vi en elinstallations-rapport. Rapporten er skriftlig og et resultat af gennemgangen af boligens elinstallationer. Den angiver både, om elinstallationerne er funktionsdytige og lovlige. Vi har den faglige baggrund og den rette erfaring til et effektivt eleftersyn.
		</div>

		<div class="eight columns">
			<img src="/images/alle.jpg" />
			<br /><br />
			<h5>Spar penge på lys</h5>
			Vil du høre mere om, hvordan du kan spare penge på energiregningen i din bolig, kan du læse mere her på hjemmesiden – blandt andet om hvordan lysstyring kan sikre et strømforbrug, der passer til dit reelle behov.
			<br /><br />
			<img src="/images/elsyn.jpg" />
			<br /><br />
			<h5>Kontakt os i dag</h5>
			Ring uforpligtende på <a href="tel:+4520225018">20 22 50 18</a>, hvis du skal have udført et eleftersyn. Vi kommer til Svendborg og hele Sydfyn.
			<br /><br />
		</div>

	</div>

</div>
