@page
@{
	ViewData["Title"] = "Reparation og vedligeholdelse af el installationer i boligen";
	ViewData["Keywords"] = "elektrriker, Stenstrup, Kverndrup, Ollerup, el-installatør, Svendborg";
	ViewData["Description"] = "vi laver el installation og kører i Kverndrup, Ollerup samt Kirkeby og Stenstrup";
}

<div class="bg" id="top">
	<partial name="_PageTitle" model= '"El-installation"' />

	<div class="container">

		<div class="eight columns">
			<h3>El-installationer for erhverv</h3>
			<br /><br />
			Trænger el-installationerne til et el-tjek eller har din virksomhed behov for reparationer og vedligeholdelse af tekniske anlæg og installationer, er Recke el den rette at kontakte.
			​<br /><br />
			Vi har mange års erfaring inden for faget, og vores medarbejdere er altid opdateret med den nyeste viden, så vi kan håndtere enhver opgave.
			​​<br /><br />
			<h5>Få en serviceaftale med os.</h5>
			​<br /><br />
			Til virksomheder og boligforeninger tilbyder vi en abonnementsaftale, så din virksomhed altid er på forkant med problemerne. Vi tilrettelægger en grundig serviceplan, der passer til dine behov.
			<br /><br />
			<a class="to">Læs om "INTELLIGENT BYGNINGS-INSTALLATION" klik her!</a>
		</div>

		<div class="eight columns">
			<img src="/images/elinstallation-5.jpg" />
			​<h5>Vi udfører el arbejde for private.</h5>
			​<br />
			Siden 1958 har vi hos Recke El serviceret private, på hele Sydfyn med traditionelle el-installationer og intelligente løsninger inden for belysning, hvidevarer, tele, IT, netværk og meget mere. Vi er en alsidig el-installatør med bredtfavnende kompetencer og en kvalitetsbevidst tilgang.
			​<br /><br />
			Få også de bedste hårde hvidevarer monteret, vi leverer hårde hvidevarer til konkurrencedygtige priser og monterer dem efter anviste foreskrifter og sikkerhedskrav.
			​<br /><br />
			Kontakt os for en professionel rådgivning eller et uforpligtende tilbud
			​<br /><br />
		</div>

	</div>

</div>

<partial name="_Separator" model='"bg19"' />

<div class="bg" id="to">
	<div class="container">
		<div class="sixteen columns">
			<h2>
				<span class="lines">Intelligent bygnings-installation</span>
			</h2>
		</div>
		<div class="clear"></div>
	</div>

	<div class="container">

		<div class="eight columns">
			<h6>IBI står for Intelligent Bygnings Installation, og vores mest anvendelige system er IHC Trådløs, som giver dig frihed til at placere dine afbrydere, hvor du vil.</h6>
			<br />
			LK IHC® Wireless er en ny trådløs produktserie fra Lauritz Knudsen, der giver dig frihed til at ændre din nuværende el-installation på en nem og elegant måde. IHC Wireless kontakter fungerer i bund og grund som almindelige kontakter. Det særlige ved dem er imidlertid, at de kommunikerer trådløst med hinanden. Det gør det muligt at sætte afbrydere op, hvor du har lyst, uden at skulle trække så meget som en meter ekstra ledning. Derfor er IHC Wireless særlig velegnet, hvis du skal renovere en ældre bolig eller foretage ændringer af din el-installation.
			<br /><br />
			<img src="/images/ibi.jpg" />
			<br /><br />
			En optimal tyverisikring er præventiv, giver tryghed og er en rigtig god investering i forhold til udgiften i forbindelse med eksempelvis et indbrud, hvor sure timer skal bruges på udfyldelse af forsikringspapirer og den tabte arbejdsfortjeneste kan koste dyrt. Arvestykker og andet med høj effektionsværdi kan aldrig erstattes, og vi mener derfor ikke, at man skal gå på kompromis med det rigtige alarmsystem.
			<br /><br />
		</div>

		<div class="eight columns">
			<h5>Sendere</h5>
			Sendere er afbrydere, også kaldet batteritryk, og fjernbetjening. Senderne kan placeres, hvor som helst: direkte på væggen, på et møbel eller andre steder. De kan selvfølgelig også monteres i en eksisterende dåse i væggen. Alle sendere er batteridrevne og leveres med batteri.
			<br /><br />
			<h5>Modtagere</h5>
			Sendere er afbrydere, også kaldet batteritryk, og fjernbetjening. Senderne kan placeres, hvor som helst: direkte på væggen, på et møbel eller andre steder. De kan selvfølgelig også monteres i en eksisterende dåse i væggen. Alle sendere er batteridrevne og leveres med batteri.
			<br /><br />
			<h5>Kombienheder</h5>
			En kombienhed er en kombination af en sender og en modtager. Dvs. at den kan modtage signaler fra andre trådløse sendere, men den kan også fungere som afbryder selv. Kombienheden fås i to udgaver: Som lysdæmper eller som relæudgave med tænd/sluk funktion. Begge udgaver skal monteres i en dåse på væggen eller udvendigt på væggen i et underlag.
			<br /><br />
			Vi er klar på vores hovedsæde, til at hjælpe dig, så har du spørgsmål, er du mere end velkommen til at ringe til os.
		</div>

	</div>

</div>

<partial name="_Footer" model='"bg21"' />
