@page
@{
	ViewData["Title"] = "Energioptimering i Svendborg | Reducer energiforbruget";
	ViewData["Keywords"] = "Energi optimering spare på el solceller";
	ViewData["Description"] = "Vi laver energioptimering og reduserer el regningen";
}

<div class="bg" id="top">
	<partial name="_PageTitle" model= '"Penge at spare på miljøvenlige løsninger"' />

	<div class="container">

		<div class="eight columns">
			Grønne el-løsninger er ikke kun miljøvenlige. De er også billige og kan give dig store besparelser i forhold til dit nuværende el-forbrug – helt op til 50 %. Hos Recke El er vi specialister i energioptimering. Vi gennemgår dit energiforbrug og foreslår en løsning, der ikke alene er billigere, men også passer bedre til dine behov.
			<br /><br />
			<h5>Skift de gamle lys- og energikilder ud</h5>
			Der er mange måder at hente energibesparelser på. Man kan skifte gamle hårde hvidevarer ud, som har et stort strømforbrug. Man kan også skifte gamle lyskilder ud med nye og mere økonomiske lyskilder. Endelig kan man opsætte solceller eller varmepumper.
			<br /><br />
			Hos Recke El udfører vi det hele. Med udgangspunkt i dine behov tager vi en snak om, hvilken løsning, der er bedst for dig.
			<br /><br />
			<h5>Solceller og varmepumper</h5>
			Vi opsætter, fejlfinder og udskifter solceller. I forbindelse med nybyg kan vi også opsætte solcelleanlæg som en integreret del af din tagflade – så sparer du tagsten til den flade, som solcellerne dækker. Vi installerer desuden varmepumper fra forskellige fabrikater, eksempelvis Panasonic.
		</div>

		<div class="eight columns">
			<img src="/images/solceller.jpg" />
			<a class="to">Læs også om varmepumper her</a>
			<br /><br />
			I forbindelse med nybyg kan vi også opsætte solcelleanlæg som en integreret del af din tagflade, i den forbindelse sparer du tagsten til den flade som solcellerne dækker.
			<br /><br />
			<h5>Vi dækker hele Sydfyn</h5>
			Ring til os på 20 22 50 18 og hør mere om, hvordan vi kan spare dig penge med energioptimering – i Svendborg og på hele Sydfyn.
		</div>

	</div>

</div>

<partial name="_Separator" model='"solceller-2"' />

<div class="bg" id="to">

	<div class="container">

		<br /><br /><br /><br /><br />
		<div id="menu2"></div>

		<div class="sixteen columns">
			<h2>
				<span class="lines">Varmepumper</span>
			</h2>
		</div>

		<div class="clear"></div>
	</div>

	<div class="container">

		<div class="eight columns">
			<h3>Vi installerer varmepumper</h3>
			<br />
			Vi installerer varmepumper af forskellige fabrikater. feks fra Panasonic
			<br /><br />
			Her får du både varme om vinteren og køling om sommeren.
			<br /><br />

			<table>
				<tr>
					<td width="100px">Køleydelse:</td>
					<td> 2,5kw</td>
				</tr>
				<tr>
					<td>Varmeydelse:</td>
					<td>3,4kw</td>
				</tr>
				<tr>
					<td>EER værdi:</td>
					<td>4,85</td>
				</tr>
				<tr>
					<td>SCOP værdi:</td>
					<td>4,36</td>
				</tr>
				<tr>
					<td>Varme:</td>
					<td>56m2 (60w/m2)</td>
				</tr>
				<tr>
					<td> Køling:</td>
					<td> 25m2 (100w/m2)</td>
				</tr>
			</table>
		</div>

		<div class="eight columns">
			<h5>Panasonic varmepumpe</h5>
			<img src="/images/panasonic-ne9.jpg" />
			<br /><br />
			<ul>
				<li>Maksimal effektivitet og konfort med den nye Econavi funktion.</li>
				<li>Nanoe-G luftrensningssystem neutraliserer 99% af alle luftbårne og vedhæftende mug, virus og bakterier.</li>
				<li>Fleksible tilslutningsmuligheder med lettet integration til netværk.</li>
				<li>Energiklasse A++</li>
			</ul>
		</div>

	</div>

</div>

<partial name="_Footer" model='"bg21"' />
