@page
@{
	ViewData["Title"] = "Hvidevarer";
	ViewData["Keywords"] = "hvidevarer, vaskemaskine, komfur, opvaskemaskine, støvsuger elektriker, Stenstrup, Kværndrup, Ollerup, elinstallatør, Svendborg";
	ViewData["Description"] = "Vi serviserer hvidevarer i Kværndrup, Ollerup samt Kirkeby og Stenstrup";
	ViewData["FooterBackground"] = "bg14";
}

<div class="bg">
	<partial name="_PageTitle" model= '"Hvidevarer"' />

	<div class="container">

		<div class="eight columns">
			<h2>Salg, montering og reparation af hvidevarer</h2>
			<p>Hos Recke El sælger, monterer og reparerer vi hvidevarer. Vi leverer til konkurrencedygtige priser og monterer efter anviste forskrifter og sikkerhedskrav. Vores sortiment tæller hvidevarer fra blandt andet Miele, Bosch/Siemens, Electrolux, AEG, Gram og Gorenje – fællesnævneren er høj kvalitet, brugervenlighed og stor ydeevne.</p>
			<img src="/images/komfur.jpg" />
			<p>Kom ind i vores butik i Stenstrup på Stationsvej 54 og få gode råd og vejledning. Så finder vi det, der passer til dine behov. Vi giver også gerne et godt tilbud.</p>
			<img src="/images/kogeplade.jpg" />
		</div>

		<div class="eight columns">
			<img src="/images/vaskemaskine.jpg" />
			<h3>Spar penge på energiregningen med nye hvidevarer</h3>
			<p>Udskiftning af gamle hvidevarer med nye kan spare dig penge på energiregningen. Det skyldes, at nye hvidevarer som regel bruger mindre strøm i forhold til ydeevne. Vi kommer gerne ud og ser på dine hvidevarer og vurderer, om de trænger til en reparation eller helt skal udskiftes.</p>

			<h3>Hør nærmere</h3>
			<p>Har du spørgsmål til nye hvidevarer eller reparation af gamle, skal du endelig kontakte os – så finder vi sammen ud af, hvad der bedst betaler sig.</p>
			<p>Vi træffes bedst på <a href="tel:+4562261018">62 26 10 18</a>, men du er også altid velkommen til at sende os en mail på <a href="mailto:mail@recke-el.dk">mail@recke-el.dk</a>. Vi kommer ud i Svendborg og på hele Sydfyn.</p>
		</div>

	</div>

</div>