@page
@{
	ViewData["Title"] = "Industri | Få uforpligtende tilbud på el-arbejde";
	ViewData["Keywords"] = "Industri, robotter, automation, plc, elektrriker, Stenstrup, Kverndrup, Ollerup, el-installatør, Svendborg";
	ViewData["Description"] = "Industri installationer som bla. plc, og automation, vi servicerer virksomheder i Kverndrup, Ollerup samt Kirkeby og Stenstrup";
}

<div class="bg" id="top">

	<partial name="_PageTitle" model= '"Industri installation"' />

	<div class="container">

		<div class="eight columns ">
			Daglig vedligeholdelse, renovering og nye installationer på foderstoffer, vandværker, rensningsanlæg samt almindelige industriopgaver, er nogle af de mange opgaver, vi udfører. Vi har stor ekspertise og erfaring inden for vedligeholdelse af industrianlæg.
			<br /><br />
			<img src="/images/industri2.jpg" />
		</div>

		<div class="eight columns ">
			For at sikre at jeres produktionsanlæg undgår unødvendige driftsstop, anbefaler vi, at vi sammen laver en vedligeholdelsesplan.
			<br /><br />
			<h3>Vi udfører bla:</h3>
			<ul>
				<li>Ventilationsstyring</li>
				<li>PLC, opbygning og styring</li>
				<li>Automation</li>
				<li>ABDL anlæg</li>
				<li>Nød og panikbelysning</li>
				<li>Tele/Data installationer</li>
				<li>Belysning til Industri installationer</li>
			</ul>
			Kontakt os og få et uforpligtende tilbud på opgaven, Vi er klar til at hjælpe dig.
		</div>

	</div>

</div>

<partial name="_FooterMenu" model='"bg17"' />
