@page
@{
	ViewData["Title"] = "Industri";
	ViewData["Keywords"] = "Industri, robotter, automation, PLC, elektriker, Stenstrup, Kværndrup, Ollerup, elinstallatør, Svendborg";
	ViewData["Description"] = "Industri-installationer som bla. PLC, og automation, vi servicerer virksomheder i Kværndrup, Ollerup samt Kirkeby og Stenstrup";
	ViewData["FooterBackground"] = "bg17";
}

<div class="bg">
	<partial name="_PageTitle" model= '"Industriinstallation"' />

	<div class="container">

		<div class="eight columns">
			Daglig vedligeholdelse, renovering og nye installationer på foderstoffer, vandværker, rensningsanlæg samt almindelige industriopgaver, er nogle af de mange opgaver, vi udfører. Vi har stor ekspertise og erfaring inden for vedligeholdelse af industrianlæg.
			<br /><br />
			<img src="/images/industri2.jpg" />
		</div>

		<div class="eight columns">
			For at sikre at jeres produktionsanlæg undgår unødvendige driftsstop, anbefaler vi, at vi sammen laver en vedligeholdelsesplan.
			<br /><br />
			<h3>Vi udfører bla:</h3>
			<ul>
				<li>Ventilationsstyring</li>
				<li>PLC, opbygning og styring</li>
				<li>Automation</li>
				<li>ABDL-anlæg</li>
				<li>Nød- og panikbelysning</li>
				<li>Tele/Data-installationer</li>
				<li>Belysning til Industriinstallationer</li>
			</ul>
			Kontakt os og få et uforpligtende tilbud på opgaven, Vi er klar til at hjælpe dig.
		</div>

	</div>

</div>