@page
@{
	ViewData["Title"] = "Tele, IT & netværk";
	ViewData["Keywords"] = "It og data, netværks-installation, elektriker, Stenstrup, Kværndrup, Ollerup, elinstallatør, Svendborg";
	ViewData["Description"] = "Vi udfører it- og data-installationer og servicerer virksomheder i Kværndrup, Ollerup samt Kirkeby og Stenstrup";
	ViewData["FooterBackground"] = "bg19";
}

<div class="bg">
	<partial name="_PageTitle" model= '"Tele, IT & netværk"' />

	<div class="container">

		<div class="eight columns">
			<h3>Arbejde og kommunikation uden gnidninger</h3>
			<p>Telefonsystemer, computernetværk, antenneanlæg – alle kan de give anledning til komplikationer og tidsspild. Men med en driftsikker og brugervenlig netværksløsning forløber arbejde og kommunikation uden gnidninger. Både i hjemmet og på arbejdet.</p>
			<p>Hos Recke El tilbyder vi en lang række løsninger inden for netværks-installation for private og virksomheder. Vi har årtiers erfaring med effektive netværksløsninger og holder os løbende opdateret på de nyeste metoder.</p>

			<h3>Forøg produktivitet og arbejdsglæde i din virksomhed</h3>
			<p>I en virksomhed er det altafgørende for produktivitet og arbejdsglæde at netværk – hvad enten det er telefonsystemet eller computernetværket – fungerer upåklageligt. Hvis det ikke virker, som det skal, fører det ofte til irritation og tidsspild – og det kan ses på bundlinjen.</p>
		</div>

		<div class="eight columns">
			<p>Vi tager udgangspunkt i den enkelte virksomhed og udarbejder en optimal, brugervenlig og fremtidssikret netværksløsning, der tilgodeser hele virksomheden.</p>

			<h3>Få hjælp til internet og tv i dit hjem</h3>
			<p>I private hjem og boligforeninger er det mindst ligeså generende, hvis internet eller tv ikke virker optimalt. Vi kommer ud og løser problemerne effektivt.</p>

			<h2>Ring i dag</h2>
			<p>Vi ser frem til at høre fra dig på <a href="tel:+4520225018">20 22 50 18</a>. Del dine tanker og overvejelser med os og få et uforpligtende tilbud. Vi dækker Svendborg og hele Sydfyn.</p>
		</div>

	</div>

</div>
