@page
@{
	ViewData["Title"] = "Kontakt Recké-el i Stenstrup elektriker og el installatør";
	ViewData["Keywords"] = "Kontakt, elektrriker, Stenstrup, Kverndrup, Ollerup, el-installatør, Svendborg";
	ViewData["Description"] = "Kontakt Recke-el i Stenstrup vi er elektriker og el installatør som kører i Kverndrup og Ollerup samt Kirkeby";
}

<div class="bg" id="top">
	<partial name="_PageTitle" model='"Kontakt"' />

	<div class="container">

		<div class="nine columns">
			Hos os arbejder vi udelukkende på at hjælpe dig. Du skal derfor ikke tøve med at ringe til os, hvis du har spørgsmål – Vi er klar med svar til dig.
			<br /><br />
			Vi træffes på telefon: +45 2022 5018, du er også altid mere end velkommen til at sende os en mail.
			<br /><br /><br /><br />
			<h3>
				<a href="mailto:mail@recke-el.dk">mail@recke-el.dk</a>
			</h3>
			<br /><br />
			<h3>Ring: +45 20225018</h3>
			<br />
		</div>

		<div class="one columns">
			<br />
		</div>

		<div class="six columns">
			<h5>Recke-el ApS</h5>
			<br />
			<table>
				<tr>
					<td style="width:150px">Adresse:</td>
					<td>Stationsvej 54</td>
				</tr>
				<tr>
					<td></td>
					<td>5771 Stenstrup</td>
				</tr>
				<tr>
					<td> </td>
					<td>Danmark</td>
				</tr>
				<tr>
				<tr>
					<td>Mail:</td>
					<td><a href="mailto:mail@recke-el.dk">mailto:mail@recke-el.dk</a> </td>
				</tr>
				<tr>
					<td>Telefon:</td>
					<td>+45 62261018</td>
				</tr>
				<tr>
					<td>Mobil</td>
					<td>20225018</td>
				</tr>
				<tr>
					<td>Cvr:</td>
					<td>29180962</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Bank</td>
					<td>Andelskassen fyn</td>
				</tr>
				<tr>
					<td></td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<hr />
		</div>

	</div>

</div>

<partial name="_Footer" model='"bg9"' />
