@page
@{
	ViewData["Title"] = "Landbrug";
	ViewData["Keywords"] = "Landbrugsinstallationer, malkerobotter, elektriker, Stenstrup, Kværndrup, Ollerup, elinstallatør, Svendborg";
	ViewData["Description"] = "Landbrugsinstallationer vi kører i Kværndrup og Ollerup samt Kirkeby og Stenstrup";
	ViewData["FooterBackground"] = "bg16";
}

<div class="bg">
	<partial name="_PageTitle" model= '"Landbrugsinstallation"' />

	<div class="container">

		<div class="eight columns">
			Daglig vedligeholdelse, renovering og nye installationer på foderanlæg, siloanlæg, gyllepumper samt akut fejlfinding på landbrugsinstallationer, er nogle af de mange opgaver, vi udfører. Vi har stor ekspertise og erfaring indenfor vedligeholdelse af både store og små landbrugsinstallationer.
			<br /><br />
			<img src="/images/landbrug3.jpg" />
		</div>

		<div class="eight columns">
			For at sikre at jeres produktionsanlæg undgår unødvendige driftsstop, anbefaler vi, at vi sammen laver en vedligeholdelsesplan.
			<br /><br />
			<h3>Vi udfører bla.:</h3>
			<ul>
				<li>Ventilationsstyring</li>
				<li>Foderanlæg</li>
				<li>Male/blandeanlæg</li>
				<li>Siloanlæg</li>
				<li>Gyllepumper og alarm</li>
				<li>PLC, opbygning og styring</li>
				<li>Akut fejlfinding 24/7</li>
			</ul>
			Kontakt os og få et uforpligtende tilbud på opgaven, vi er altid klar til at hjælpe dig.
		</div>

	</div>

</div>