@page
@{
	ViewData["Title"] = "Landbrug | Vedligeholdelse & renovering af installationer";
	ViewData["Keywords"] = "Landbrugsinstallationer, malkerobotter, elektrriker, Stenstrup, Kverndrup, Ollerup, el-installatør, Svendborg";
	ViewData["Description"] = "Landbrugs installationer vi kører i Kverndrup og Ollerup samt Kirkeby og Stenstrup";
}

<div class="bg" id="top">

	<partial name="_PageTitle" model= '"Landbrugs installation"' />

	<div class="container">

		<div class="eight columns">
			Daglig vedligeholdelse, renovering og nye installationer på foderanlæg, Siloanlæg, Gyllepumper samt akut fejlfinding på Landbrugsinstallationer, er nogle af de mange opgaver, vi udfører. Vi har stor ekspertise og erfaring inden for vedligeholdelse af både store og små Landbrugsindstallationer.
			<br /><br />
			<img src="/images/landbrug3.jpg" />
		</div>

		<div class="eight columns">
			For at sikre at jeres produktionsanlæg undgår unødvendige driftsstop, anbefaler vi, at vi sammen laver en vedligeholdelsesplan.
			<br /><br />
			<h3>Vi udfører bla:</h3>
			<ul>
				<li>Ventilationsstyring</li>
				<li>Foderanlæg</li>
				<li>Male/blandeanlæg </li>
				<li>Siloanlæg</li>
				<li>Gyllepumper og alarm</li>
				<li>PLC, opbygning og styring </li>
				<li>Akut fejlfinding 24/7</li>
			</ul>
			Kontakt os og få et uforpligtende tilbud på opgaven, vi er altid klar til at hjælpe dig.
		</div>

	</div>

</div>

<partial name="_Footer" model='"bg16"' />
