@page
@{
	ViewData["Title"] = "Om os";
	ViewData["Keywords"] = "Elektriker, elinstallatør, Stenstrup, Kværndrup";
	ViewData["Description"] = "Recke El er elektrikker og elinstallatør i Stenstrup";
	ViewData["FooterBackground"] = "bg11";
}

<div class="bg">
	<partial name="_PageTitle" model= '"Om os"' />

	<div class="container">

		<div class="eight columns">
			<h5>Fakta om Recke El Aps</h5>
			<p>Recke El i Stenstrup eksisteret i over 50 år. I dag varetages forretningen af sønnen Kaj Recke. Det var hans far som startede Recke El tilbage i 1958 i lille kælderbutik i Stenstrup. Det blev dog snart for trangt og i 1977 flyttede vi til den nuværende domicil som ud over den store forretning også rummer lager og kontor.</p>
			<img src="/images/om-os.gif" />
			<p>I 1978 kom vi med i EL-Salg & Service. EL-Salg & Service er et aktieselskab, som ejes af 300 selvstændige elinstallatører. I forhold til de mange detailhandlere indenfor hårde hvidevarer giver det os mange stordriftsfordele som i sidste ende kommer vore kunder til gode. Vi er et ungt dynamisk team som ud over Kaj Recke består af 3 svende, 2 lærlinge og en butiksbestyrer og 4 biler som kører i hele det sydfynske område.</p>
		</div>

		<div class="eight columns">
			<h2>Vi er uddannede fagfolk som kender til elfaget</h2>
			<p>Netop kombinationen af elforretning og installatørarbejde er efterhånden en sjældenhed her på Fyn. Der er ikke mange af vores slags mere. Vores store fordel i forhold til de mange detailforretninger indenfor hårde hvidevarer, er at vi er uddannede fagfolk som kender til elfaget. Vi bestræber os på at tilgodese og vejlede vores kunders ønsker indenfor belysning, hvidevarer, tele/data, alarmer og elsalg både til boliger, industri, institution og landbrug.</p>

			<h2>Service og sikkerhed</h2>
			<p>Netop høj service er vigtigt for os, derfor har vi bl.a. en døgnkaldevagt samt en weekendvagtordning sammen med andre forhandlere. Sikkerhed er alfa og omega for os og vi vejleder ofte kunder omkring egene installationer. EL er ikke kun 220 og 380 Volt. Vores folk er årligt på kurser i spændinger fra 0 til 1000 V. Viste du f.eks. at de meget populære lavvolts spots som de fleste selv installere ikke altid er ufarlige.</p>
			<img src="/images/om-os2.jpg" />
		</div>

	</div>

</div>

<partial name="_Separator" model='"bg14"' />

<div class="bg">

	<div class="container">
		<div class="sixteen columns">
			<h1>
				<span class="lines">Garantiordning</span>
			</h1>
		</div>
	</div>

	<div class="container">

		<div class="eight columns">
			<p>Som medlem af TEKNIQ giver vi vores kunder en betryggende sikkerhed og garanti for dét arbejde vi udfører. TEKNIQ har nemlig etableret ELFO Garanti, der er en garantiordning for el-arbejder. Garantiordningen har til formål at sikre, at en privat forbruger, der får medhold i en sag ved Ankenævnet for Tekniske Installationer, får kendelsen opfyldt, hvis installatøren ikke kan eller vil opfylde en kendelse. Ankenævnets formål er at medvirke til en nem, hurtig og billig løsning af uoverensstemmelser mellem private kunder og el-installatører.</p>
			<img src="/images/logo-tekniq.png" />
			<p>Garantiordningen gælder kun for arbejder, der er udført af medlemmer af ELFO. Se derfor for en sikkerheds skyld efter el-mærket eller spørg installatøren.</p>
		</div>

		<div class="eight columns">
			<img src="/images/alle.jpg" />
			<h5>Dækker udgifter op til 150.000 kr</h5>
			<p>Garantiordningen dækker udgifter op til og med 150.000 kr inkl. moms.</p>

			<h5>Hvem kan klage?</h5>
			<p>Private forbrugere kan klage over el-arbejder og leverancer, der ikke er bestilt udført til erhvervsmæssige formål.</p>

			<h5>Hvad kan man klage over?</h5>
			<p>En klage kan kun indbringes for Ankenævnet, hvis klagen i forvejen forgæves har været forelagt for elinstallatøren. Man kan klage over næsten alt, dog ikke elinstallatørens interne forretningsprincipper som f.eks. time- og materialepriser.</p>
		</div>

	</div>

</div>
