@page
@{
	ViewData["Title"] = "Belysning Svendborg | Lys installation på hele Sydfyn";
	ViewData["Keywords"] = "Belysning, IHC, trådløst, elektrriker, Stenstrup, Kverndrup, Ollerup, el-installatør, Svendborg";
	ViewData["Description"] = "Vi laver boliginstallationer på hele sydfyn, og laver alt fra IHC til almindeligt elektrikker arbejde";
}

<div class="bg " id="top">
	<div class="container">

		<br /><br /><br /><br /><br />
		<div id="menu2"></div>
		<div class="sixteen columns">
			<h2>
				<span class="lines">
					Belysning</span>
			</h2>

		</div> <!-- end sixteen columns -->

		<div class="clear"></div>

	</div> <!-- end container -->

	<div class="container">

		<div class="eight columns ">

			<h5>Eksperter i belysning siden 1958</h5>
			Leder du efter en kompetent, erfaren og effektiv elektriker med speciale i belysning og lys-installationer? Hos Recke El har vi siden 1958 udført alle former for el-installationer i private hjem, virksomheder og institutioner.
			<br /><br />
			Vores kompetenceområde omfatter alt fra elvarme og LED belysning til intelligent lysstyring, der kan spare dig mange på energiregningen.

			Behagelig og billig belysning
			<br /><br />
			Har du overvejet, om belysningen i din bolig er optimal i forhold til dine behov? Moderne belysning kan ikke reduceres til, hvordan lampen ser ud. I dag er det også vigtigt at se på lyskildens funktion.

		</div>
		<div class="eight columns ">

			Forestil dig at lyskilderne i din bolig tilpassede lysstyrken til lyset udenfor – og til, om du er i rummet eller ej. Det kan ikke alene give en mere hyggelig og tryg belysning i din bolig – der er også mange penge at spare, fordi strømforbruget dermed svarer til dit faktiske el-forbrug.
			<br /><br />
			<h5>Få et uforpligtende tilbud</h5>
			Hos Recke El tager vi gerne en snak med dig om, hvordan den rette belysning kan give dig en bedre oplevelse i din bolig eller virksomhed – og samtidig spare dig penge.
			Ring i dag på 20 22 50 18 og få et uforpligtende tilbud. Vi dækker Svendborg og hele Sydfyn.
			<br /><br /><a href="lysstyring.html">læs mere om automatisk lysstyring her</a>

		</div>

	</div> <!-- end bg -->

</div>

<div id="Div2" class="separator1">
	<div class="bg21 bg" style=" "></div>
	<p class="separator"></p>
</div>

<div id="Kontakt">
	<div class="container">

		<div class=" sixteen columns">

			<center><br /><br />
				<div id="kontakt"></div>
			</center>
			<br /><br />

		</div>

	</div> <!-- end container -->
</div> <!-- end bg -->
<script src="https://app.weply.chat/widget/5111" async></script>
