@page
@{
	ViewData["Title"] = "Besøg vores butik på Stationsvej 54 i Stenstrup";
	ViewData["Keywords"] = "Lamper, støvsuger, elsalg, elektrriker, Stenstrup, Kverndrup, Ollerup, el-installatør, Svendborg";
	ViewData["Description"] = "Vi har elbutik i stenstrup med lamper hårdehvidevare mm";
}

<div class="bg " id="en">
	<partial name="_PageTitle" model= '"Besøg vores butik"' />

	<div class="container">

		<div class="eight columns ">

			<img src="/images/butik.jpg" />

			<br /><br />
			<a class="to">Inspiration fra butikken tryk her</a>
			<br /><br />
			<a href="https://elsalg.dk/andre-links/find-butik/25860-recke-el-vkaj-recke" target="_blank">Køb hvidevarer online i El-salg her</a>
		</div>

		<div class="eight columns ">

			<img src="/images/intro12.jpg" />

			<br /><br />
			<h5>Info:</h5><br />
			<table>
				<tr>
					<td style="width:150px">Adresse:</td>
					<td>Stationsvej 54 </td>
				</tr>

				<tr>
					<td></td>
					<td>5771 Stenstrup
					</td>
				</tr>

				<tr>
				<tr>
					<td>Mail: </td>
					<td><a href="mailto:mail@recke-el.dk">mailto:mail@recke-el.dk</a> </td>
				</tr>
				<tr>
					<td>Telefon:</td>
					<td>+45 62 26 10 18</td>
				</tr>
				<tr>
					<td> &nbsp; </td>
					<td></td>
				</tr>
				<tr>
					<td>Vi har åbent</td>
					<td>mandag - torsdag 9 til 11 og 16 til 17</td>
				</tr>
				<tr>
					<td></td>
					<td>fredag og lørdag er du velkommen til at ringe så åbner vi for dig.</td>
				</tr>

			</table>
			<br /><br />
		</div>

	</div> <!-- end bg -->
</div>
<div id="separator_3" class="separator1">
	<div class="butik-1 bg" style=" "></div>
	<p class="separator"></p>
</div>

<div class="bg " id="to">
	<div class="container">
		<div class="sixteen columns">

			<h2>
				<span class="lines">
					Alt hvad du tænder på</span>
			</h2>

		</div> <!-- end sixteen columns -->

		<div class="clear"></div>

	</div> <!-- end container -->

	<div class="container">

		<div class="eight columns ">

			<img src="/images/butik-2.jpg" />
			<img src="/images/butik-3.jpg" />

			<br /><br />

		</div>
		<div class="eight columns ">

			<img src="/images/butik-4.jpg" />

			<img src="/images/intro12.jpg" />

		</div>

	</div> <!-- end bg -->

</div>

<div id="Div3" class="separator1">
	<div class="bg10 bg" style=" "></div>
	<p class="separator"></p>
</div>

<div id="Kontakt">
	<div class="container">

		<div class=" sixteen columns">

			<center><br /><br />
				<div id="kontakt"></div>
			</center>
			<br /><br />

		</div>

	</div> <!-- end container -->
</div> <!-- end bg -->
<script src="https://app.weply.chat/widget/5111" async></script>
