<nav>

<div class="bg " id="top">
	<div class="container">
		<br /><br /><br /><br /><br />
		<div id="menu2"></div>

		<div class="sixteen columns">

			<h2>
				<span class="lines">
					Er el- installationerne lovlige og funktionsdygtige? </span>
			</h2>

		</div> <!-- end sixteen columns -->

		<div class="clear"></div>

	</div> <!-- end container -->

	<div class="container">

		<div class="eight columns ">

			I forbindelse med hushandler skal man have tjekket el- installationerne i boligen med henblik på at bestemme, om de er lovlige og funktionsdygtige. Hos Recke El udfører vi professionelle eleftersyn med en på samme tid grundig og effektiv tilgang.<br /><br />
			<embed src="http://www.youtube.com/v/9cFU5QI6680?version=3&amp;feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="auto" height="auto"> <br /><br />

			<br /><br />
			<h5>Skal du flytte?</h5>
			Hvis du skal flytte, er det vigtigt, a t der bliver udarbejdet en el-eftersynsrapport for den bolig, du flytter fra, men også den, du flytter ind i. På den måde slipper du for uforudsete problemer med el -installationerne i dit nye hjem.
			<br /><br />
			Når vi kommer ud og laver eleftersyn, udarbejder vi en el -installationsrapport. Rapporten er skriftlig og et resultat af gennemgangen af boligens el-installationerer. Den angiver både, om elinstallationerne er funktionsdytige og lovlige. Vi har den faglige baggrund og den rette erfaring til et effektivt elefters yn.
		</div>
		<div class="eight columns ">
			<img src="/images/alle.jpg" /> <br /><br />
			<h5>Spar penge på lys</h5>
			Vil du høre mere om, hvordan du kan spare penge på energiregningen i din bolig, kan du læse mere her på hjemmesiden – blandt andet om hvordan lysstyring kan sikre et strømforbrug, der passer til dit reelle behov.
			<br /><br />
			<img src="/images/elsyn.jpg" /> <br /><br />
			<h5>Kontakt os i dag</h5>Ring uforpligtende på 20 22 50 18, hvis du skal have udført et eleftersyn. Vi kommer til Svendborg og hele Sydfyn.
			<br /><br />
		</div>

	</div> <!-- end bg -->

</div>

<div id="separator_3" class="separator1">
	<div class="bg7 bg" style=" "></div>
	<p class="separator"></p>
</div>

<div id="Kontakt">
	<div class="container">

		<div class=" sixteen columns">

			<center><br /><br />
				<div id="kontakt"></div>
			</center>
			<br /><br />

		</div>

	</div> <!-- end container -->
</div> <!-- end bg -->
<script src="https://app.weply.chat/widget/5111" async></script>
