@page
@{
	ViewData["Title"] = "Hvidevareservice i Svendborg & Sydfyn | Reparation af hårde hvidevarer";
	ViewData["Keywords"] = "hvidevarer, vaskemaskine, komfur, opvaskemaskine, støvsuger elektrriker, Stenstrup, Kverndrup, Ollerup, el-installatør, Svendborg";
	ViewData["Description"] = "Vi serviserer hvidevarer i Kverndrup, Ollerup samt Kirkeby og Stenstrup";
}

<div class="bg " id="top">
	<partial name="_PageTitle" model= '"Hvidevarer"' />

	<div class="container">

		<div class="eight columns ">
			<h3>Salg, montering og reparation af hvidevarer</h3>

			Hos Recke El sælger, monterer og reparerer vi hvidevarer. Vi leverer til konkurrencedygtige priser og monterer efter anviste forskrifter og sikkerhedskrav. Vores sortiment tæller hvidevarer fra blandt andet Miele, Bosch/Siemens, Electrolux, AEG, Gram og Gorenje – fællesnævneren er høj kvalitet, brugervenlighed og stor ydeevne.
			<br /><br />
			<img src="/images/komfur.jpg" />

			<br /><br />
			Kom ind i vores butik i Stenstrup på Stationsvej 54 og få gode råd og vejledning. Så finder vi det, der passer til dine behov. Vi giver også gerne et godt tilbud.

			<img src="/images/kogeplade.jpg" />

		</div>
		<div class="eight columns ">

			<img src="/images/vaskemaskine.jpg" /><br /><br />
			<h5>Spar penge på energiregningen med nye hvidevarer</h5>

			Udskiftning af gamle hvidevarer med nye kan spare dig penge på energiregningen. Det skyldes, at nye hvidevarer som regel bruger mindre strøm i forhold til ydeevne. Vi kommer gerne ud og ser på dine hvidevarer og vurderer, om de trænger til en reparation eller helt skal udskiftes.
			<br /><br />
			<h5>Hør nærmere</h5>
			Har du spørgsmål til nye hvidevarer eller reparation af gamle, skal du endelig kontakte os – så finder vi sammen ud af, hvad der bedst betaler sig.
			<br /><br />
			Vi træffes bedst på 62 26 10 18, men du er også altid velkommen til at sende os en mail på <a href="mailto:mail@recke-el.dk">mail@recke-el.dk.</a> Vi kommer ud i Svendborg og på hele Sydfyn.

		</div>

	</div> <!-- end bg -->

</div>

<div id="separator_3" class="separator1">
	<div class="bg14 bg" style=" "></div>
	<p class="separator"></p>
</div>

<div id="Kontakt">
	<div class="container">

		<div class=" sixteen columns">

			<center><br /><br />
				<div id="kontakt"></div>
			</center>
			<br /><br />

		</div>

	</div> <!-- end container -->
</div> <!-- end bg -->
<script src="https://app.weply.chat/widget/5111" async></script>
