	<nav>

		<div class="bg " id="top">
			<div class="container">
				<br /><br /><br /><br /><br />
				<div id="menu2"></div>
				<div class="sixteen columns">

					<h2>
						<span class="lines">
							Industri installation </span>
					</h2>

				</div> <!-- end sixteen columns -->

				<div class="clear"></div>

			</div> <!-- end container -->

			<div class="container">

				<div class="eight columns ">
					Daglig vedligeholdelse, renovering og nye installationer på foderstoffer, vandværker, rensningsanlæg samt almindelige industriopgaver, er nogle af de mange opgaver, vi udfører. Vi har stor ekspertise og erfaring inden for vedligeholdelse af industrianlæg.

					<br /><br /><img src="/images/industri2.jpg" />

				</div>
				<div class="eight columns ">
					For at sikre at jeres produktionsanlæg undgår unødvendige driftsstop, anbefaler vi, at vi sammen laver en vedligeholdelsesplan.<br /><br />
					<h3>Vi udfører bla:
					</h3>
					<ul>
						<li>Ventilationsstyring</li>
						<li>PLC, opbygning og styring </li>
						<li>Automation </li>
						<li>ABDL anlæg </li>
						<li>Nød og panikbelysning </li>
						<li>Tele / Data installationer</li>
						<li>Belysning til Industri installationer </li>

					</ul>

					Kontakt os og få et uforpligtende tilbud på opgaven, Vi er klar til at hjælpe dig.

				</div>

			</div> <!-- end bg -->

		</div>

		<div id="separator_3" class="separator1">
			<div class="bg17 bg" style=" "></div>
			<p class="separator"></p>
		</div>

		<div id="Kontakt">
			<div class="container">

				<div class=" sixteen columns">

					<center><br /><br />
						<div id="kontakt"></div>
					</center>
					<br /><br />

				</div>

			</div> <!-- end container -->
		</div> <!-- end bg -->
		<img id="Menuknap" title="Menu" src="/images/menuknap.gif" style="position:fixed; cursor:pointer; z-index:999999; top:150px; left:2px" />

		<script src="https://app.weply.chat/widget/5111" async></script>
