@page
@{
	ViewData["Title"] = "Landbrug | Vedligeholdelse & renovering af installationer";
	ViewData["Keywords"] = "Landbrugsinstallationer, malkerobotter, elektrriker, Stenstrup, Kverndrup, Ollerup, el-installatør, Svendborg";
	ViewData["Description"] = "Landbrugs installationer vi kører i Kverndrup og Ollerup samt Kirkeby og Stenstrup";
}

<div class="bg " id="top">
	<div class="container">
		<br /><br /><br /><br /><br />
		<div id="menu2"></div>
		<div class="sixteen columns">

			<h2>
				<span class="lines">
					Landbrugs installation </span>
			</h2>

		</div> <!-- end sixteen columns -->

		<div class="clear"></div>

	</div> <!-- end container -->

	<div class="container">

		<div class="eight columns ">
			Daglig vedligeholdelse, renovering og nye installationer på foderanlæg, Siloanlæg, Gyllepumper samt akut fejlfinding på Landbrugsinstallationer, er nogle af de mange opgaver, vi udfører. Vi har stor ekspertise og erfaring inden for vedligeholdelse af både store og små Landbrugsindstallationer.
			<br /><br />
			<img src="/images/landbrug3.jpg" />

		</div>
		<div class="eight columns ">
			For at sikre at jeres produktionsanlæg undgår unødvendige driftsstop, anbefaler vi, at vi sammen laver en vedligeholdelsesplan.
			<br /><br />
			<h3>Vi udfører bla:
			</h3>
			<ul>
				<li>Ventilationsstyring</li>
				<li>Foderanlæg</li>
				<li>Male/blandeanlæg </li>
				<li>Siloanlæg</li>
				<li>Gyllepumper og alarm</li>
				<li>PLC, opbygning og styring </li>
				<li>Akut fejlfinding 24/7</li>

			</ul>

			Kontakt os og få et uforpligtende tilbud på opgaven, vi er altid klar til at hjælpe dig.

		</div>

	</div> <!-- end bg -->

</div>

<div id="separator_3" class="separator1">
	<div class="bg16 bg" style=" "></div>
	<p class="separator"></p>
</div>

<div id="Kontakt">
	<div class="container">

		<div class=" sixteen columns">

			<center><br /><br />
				<div id="kontakt"></div>
			</center>
			<br /><br />

		</div>

	</div> <!-- end container -->
</div> <!-- end bg -->
<script src="https://app.weply.chat/widget/5111" async></script>
