@page
@{
	ViewData["Title"] = "LED belysning | Installation af LED for kunder i Svendborg & Sydfyn";
	ViewData["Keywords"] = "";
	ViewData["Description"] = "";
}

<div class="bg " id="top">
	<div class="container">
		<br /><br /><br /><br /><br />
		<div id="menu2"></div>

		<div class="sixteen columns">
			<h2>
				<span class="lines">
					Led Belysning </span>
			</h2>

		</div> <!-- end sixteen columns -->

		<div class="clear"></div>

	</div> <!-- end container -->

	<div class="container">

		<div class="eight columns ">

			<h5>LED belysning – en god investering</h5>
			Har du overvejet, hvilke fordele du kan få med LED belysning i din bolig? Hos Recke EL leverer og monterer vi LED belysning professionelt og effektivt. I mere end 50 år har vi serviceret boliger, industri, institutioner og landbrug på Sydfyn.
			<br /><br />
			<h5>Lille strømforbrug og stort lysudbytte</h5>
			Der er mange gode grunde til at investere i LED Belysning. Selvom det ofte koster mere end almindelige halogenpærer, kan det som regel tjene sig selv hjem på kort tid. Det skyldes dels, at LED belysning har et lavt strømforbrug og et højt lysudbytte, og dels, at det holder væsentligt længere end halogen. Desuden er det en nem og brugervenlig lyskilde, der sparer dig for at udskifte pærer hyppigt.
			<br /><br />

			Endelig er LED belysning en miljøvenlig løsning med et mindre CO2-forbrug.

		</div>

		<div class="eight columns ">
			<h5>
				Effektivitet og kvalitet i monteringen
			</h5>

			Hos Recke El monterer vi LED belysning direkte i loftet. Vi er veluddannede fagfolk med passion for el-faget, og det afspejler sig i effektiviteten såvel som kvaliteten af vores arbejde.
			<br /><br />

			<h5>
				Vi dækker hele Sydfyn
			</h5>

			Har du spørgsmål, er du altid velkommen til at kontakte os på 20 22 50 18 og få et uforpligtende tilbud. Vi arbejder i Svendborg og på hele Sydfyn.

		</div>

	</div> <!-- end bg -->

</div>

<div id="separator_3" class="separator1">
	<div class="bg4 bg" style=" "></div>
	<p class="separator"></p>
</div>

<div id="Kontakt">
	<div class="container">

		<div class=" sixteen columns">

			<center><br /><br />
				<div id="kontakt"></div>
			</center>
			<br /><br />

		</div>

	</div> <!-- end container -->
</div> <!-- end bg -->
<script src="https://app.weply.chat/widget/5111" async></script>
