@page
@{
	ViewData["Title"] = "Lysstyring installation i Svendborg & Sydfyn";
	ViewData["Keywords"] = "";
	ViewData["Description"] = "";
}

<div class="bg " id="top">
	<partial name="_PageTitle" model= '"Lysstyring"' />

	<div class="container">

		<div class="eight columns ">

			<h5>Når lyset automatisk tilpasser sig til dig</h5>

			Forestil dig et rum uden kontakter, hvor lyset automatisk justerer sig i forhold til omgivelserne, det vil sige lyset (eller mørket) fra vinduerne og aktiviteten i rummet. Det er ideen med lysstyring, en intelligent og populær lyskilde i det moderne hjem.
			<br /><br />

			Hos Recke El er vi specialister i lysstyring. Vi leverer og monterer med en professionel, kvalitetsbevidst og effektiv tilgang.
			<br /><br />
			<h5>For svagt eller for skarpt – eller lige tilpas</h5>

			Det sker ofte, at vi glemmer at slukke kontakten, når vi forlader et rum. Og når vi tænder det, kan det nogle gange irritere, at det lyser for skarpt eller for svagt. Med lysstyring imødekommer du begge problemer.

		</div>
		<div class="eight columns ">
			Ved hjælp af censorer, der registrerer bevægelse i rummet og graden af lys udenfor, tilpasser lyskilden lysstyrken derefter. Lyset tænder for eksempel selv, når du går ind i rummet, og hvis det er helt lyst udenfor, slukkes lyset automatisk indenfor.
			Det medfører store besparelser på energiregningen, fordi strømforbruget passer til dine behov.
			<br /><br />
			<h5>Ring i dag</h5>

			Vil du høre mere? Ring til os i dag på 20 22 50 18 og få et uforpligtende tilbud. Vi arbejder i Svendborg og hele Sydfyn.

		</div>

	</div> <!-- end bg -->

</div>

<div id="separator_3" class="separator1">
	<div class="bg7 bg" style=" "></div>
	<p class="separator"></p>
</div>

<div id="Kontakt">
	<div class="container">

		<div class=" sixteen columns">

			<center><br /><br />
				<div id="kontakt"></div>
			</center>
			<br /><br />

		</div>

	</div> <!-- end container -->
</div> <!-- end bg -->
<script src="https://app.weply.chat/widget/5111" async></script>
