@page
@{
	ViewData["Title"] = "Om os | Fokus på kvalitet & erfaring";
	ViewData["Keywords"] = "Elektriker, eleinstallatør, Stenstrup, Kverndrup";
	ViewData["Description"] = "Recke-el er elektrikker og elinstallatør i Stenstrup";
}

<div class="bg " id="en">
	<partial name="_PageTitle" model= '"Om os"' />

	<div class="container">

		<div class="eight columns ">
			<h5>Fakta om Recke-El Aps </h5> <br />

			Recke EL i Stenstrup eksisteret i over 50 år. I dag varetages forretningen af sønnen Kaj Recke. Det var hans far som startede Recke EL tilbage i 1958 i lille kælderbutik i Stenstrup. Det blev dog snart for trangt og i 1977 flyttede vi til den nuværende domicil som ud over den store forretning også rummer lager og kontor.<br /><br /><img src="/images/om-os.gif" /> <br /><br />

			I 1978 kom vi med i EL-Salg & Service. EL-Salg & Service er et aktieselskab, som ejes af 300 selvstændige el-installatører. I forhold til de mange detailhandlere indenfor hårde hvidevarer giver det os mange stordriftsfordele som i sidste ende kommer vore kunder til gode. Vi er et ungt dynamisk team som ud over Kaj Recke består af 3 svende, 2 lærlinge og en butiksbestyrer og 4 biler som kører i hele det sydfynske område.

			<br /><br />

		</div>
		<div class="eight columns ">

			<h3>Vi er uddannede fagfolk som kender til elfaget</h3>

			<br /><br />
			Netop kombinationen af elforretning og installatørarbejde er efterhånden en sjældenhed her på Fyn. Der er ikke mange af vores slags mere. Vores store fordel i forhold til de mange detailforretninger indenfor hårde hvidevarer, er at vi er uddannede fagfolk som kender til elfaget. Vi bestræber os på at tilgodese og vejlede vores kunders ønsker indenfor belysning, hvidevarer, tele/data, alarmer og elsalg både til boliger, industri, institution og landbrug.
			<br /><br />
			<h3>Service og sikkerhed</h3>
			Netop høj service er vigtigt for os, derfor har vi bl.a. en døgnkaldevagt samt en weekendvagtordning sammen med andre forhandlere. Sikkerhed er alfa og omega for os og vi vejleder ofte kunder omkring egeninstallationer. EL er ikke kun 220 og 380 Volt. Vores folk er årligt på kurser i spændinger fra 0 til 1000 V. Viste du f.eks. at de meget populære lavvolts spots som de fleste selv installere ikke altid er ufarlige.
			<br /><br />
			<img src="/images/om-os2.jpg" />

		</div>

	</div> <!-- end bg -->

</div>

<div id="separator_3" class="separator1">
	<div class="bg14 bg" style=" "></div>
	<p class="separator"></p>
</div>

<div class="bg " id="to">
	<div class="container">
		<div class="sixteen columns">

			<h2>
				<span class="lines">
					Garanti ordning </span>
			</h2>

		</div> <!-- end sixteen columns -->

		<div class="clear"></div>

	</div> <!-- end container -->

	<div class="container">

		<div class="eight columns ">

			Som medlem af TEKNIQ giver vi vores kunder en betryggende sikkerhed og garanti for dét arbejde vi udfører. TEKNIQ har nemlig etableret ELFO Garanti, der er en garantiordning for el-arbejder. Garantiordningen har til formål at sikre, at en privat forbruger, der får medhold i en sag ved Ankenævnet for Tekniske Installationer, får kendelsen opfyldt, hvis installatøren ikke kan eller vil opfylde en kendelse. Ankenævnets formål er at medvirke til en nem, hurtig og billig løsning af uoverensstemmelser mellem private kunder og el-installatører.

			<br /><br />
			<img src="/images/logo-tekniq.png" />
			<br /><br />
			Garantiordningen gælder kun for arbejder, der er udført af medlemmer af ELFO. Se derfor for en sikkerheds skyld efter el-mærket eller spørg installatøren.

			<br /><br />

		</div>
		<div class="eight columns ">
			<img src="/images/alle.jpg" /> <br /><br />
			<h5>Dækker udgifter op til 150.000 kr. </h5>
			Garantiordningen dækker udgifter op til og med kr. 150.000,00 inkl. moms.

			<br /><br />
			<h5>Hvem kan klage?</h5>
			Private forbrugere kan klage over el-arbejder og leverancer, der ikke er bestilt udført til erhvervsmæssige formål.

			<br /><br />
			<h5>Hvad kan man klage over?</h5>
			En klage kan kun indbringes for Ankenævnet, hvis klagen i forvejen forgæves har været forelagt for el-installatøren. Man kan klage over næsten alt, dog ikke el-installatørens interne forretningsprincipper som f.eks. time- og materialepriser.

		</div>

	</div> <!-- end bg -->

</div>

<div id="separator_2" class="separator1">
	<div class="bg11 bg" style=" "></div>
	<p class="separator"></p>
</div>

<div id="Kontakt">
	<div class="container">

		<div class=" sixteen columns">

			<center><br /><br />
				<div id="kontakt"></div>
			</center>
			<br /><br />

		</div>

	</div> <!-- end container -->
</div> <!-- end bg -->
