#live {
  padding: 0;
  position: relative;
  width: 100%;
  /*max-width: 320px;*/
  height: 100%;
  /*max-height: 240px;*/
  margin: 0 auto;
  text-align: center;
}
.menuItemLeft{
  width: 70px;
}
#controlLogin {
  display: none;
}
#topControl, #sideControl, #zoomControl {
  z-index: 10000;
  position: absolute;
 
}
#topControl {
  width: 100%;
  top: -35px;
}
#panLeft {
  position: absolute;
  left: 0;
}
#sideControl {
  height: 100%;
  right: -41px;
}
#zoomControl {
  height: 100%;
  left: -41px;
}
#tiltDown, #zoomOut {
  position: absolute;
  bottom: 0;
  left: 0;
}
#webcamSelector {
  position: relative;
  width: 50%;
  top: 40px;
}
#webccamSelector td {
    font-size: 50%;
}