

		#Facebook
        {
        	height:20px; 
        	background-color: Transparent; 
        	z-index: 999998; 
        	width:21px;
        	position: fixed; 
        	TOP:1px; 
        	right:1px;
        	 
        }
       
        #MenuBackground
        {
        	height:38px; 
        	background-color: rgb(88, 60, 54); 
        	z-index: 999997; 
        	opacity: .9; 
        	position: fixed; 
        	margin-left:0px; 
        	padding: 4px; 
        	width: 100%; 
        	font-size: 13px; 
        	font-weight: normal; 
        	text-align: center; 
        	color: rgb(255, 255, 255); 
        	font-family: Arial,sans-serif; 
        	line-height: 16px; 
        	box-shadow: 0px 0px 8px rgb(0, 0, 0); 
        	border-radius: 0px 0px 5px 5px; 
        	TOP:0px; 
        	}
     	
        	
        #MenuInner
        {
        	z-index: 999998; 
        	opacity: 1; 
        	position: fixed; 
        	width:550px;
        	padding: 7px; 
        	margin-left:-275px;
        	font-size: 12px; 
        	font-weight: normal; 
        	text-align: center; 
        	color: rgb(255, 255, 255); 
        	font-family: Arial,sans-serif; 
        	line-height: 16px;  
        	TOP:0px; 
        	left:50%;
        	
        	}	
        
		.menuItem
		{
			border-radius: 5px;  
			border: 0px none; 
			padding: 3px 8px; 
			font-weight: bold; 
			cursor: pointer; 
			margin: 5px 5px; 
			transition: all 0.25s ease 0s; 
			text-shadow: 0px 0px 0px rgb(0, 0, 0); 
			background-color: rgb(91, 183, 91); 
			color: rgb(255, 255, 255); 
			float: left;
			
		}
		.menuSelectedItem
		{
			border-radius: 5px;  
			border: 0px none; 
			padding: 3px 8px; 
			font-weight: bold; 
			cursor: pointer; 
			margin: 5px 5px; 
			transition: all 0.25s ease 0s; 
			text-shadow: 0px 0px 1px rgb(0, 0, 0); 
			background-color: rgb(88, 60, 54); 
			color: rgb(255, 255, 255); 
			float: left;
		}
		
		
		
		
		
		   #MenuBackgroundLeft
        {
        	height:100%; 
        	background-color: rgb(88, 60, 54); 
        	z-index: 999995; 
        	opacity: 0.5; 
        	position: fixed; 
        	
        	padding: 0px; 
        	width: 90px; 
        	font-size: 11px; 
        	font-weight: normal; 
        	text-align: center; 
        	color: rgb(255, 255, 255); 
        	font-family: Arial,sans-serif; 
        	line-height: 10px; 
        	box-shadow: 0px 0px 8px rgb(0, 0, 0); 
        	border-radius: 0px 0px 0px 0px; 
        	TOP:0px; 
        	left:0px;
        	}
         #MenuBackgroundLeftInner
        {
        	height:100%; 
        	
        	z-index: 999996; 
        	opacity: 1; 
        	position: fixed; 
        	
        	padding: 0px; 
        	width: 50px; 
        	font-size: 11px; 
        	font-weight: normal; 
        	text-align: center; 
        	color: rgb(255, 255, 255); 
        	font-family: Arial,sans-serif; 
        	line-height: 10px; 
        	
        	TOP:100px; 
        	left:0px;
        	}
		
		.menuItemLeft
		{
			border-radius: 5px;  
			border: 0px none; 
			padding: 4px 10px; 
			font-weight: bold; 
			cursor: pointer; 
			margin: 5px 10px; 
			transition: all 0.25s ease 0s; 
			text-shadow: 0px 0px 0px rgb(0, 0, 0); 
			background-color: rgb(91, 183, 91); 
			color: rgb(255, 255, 255); 
			
			width: 50px;
			
			
		}
		#kontakt ul li {
		display: inline;
		border-right: 1px solid #e6e6e6;
		padding: 6px 26px 8px 26px;
		margin: 0;
		}
		
		#kontakt ul li:first-child {
		border-left: 1px solid #e6e6e6;
		}
		#kontaktMobil ul li {
		display: inline;
		border-right: 1px solid #e6e6e6;
		padding: 4px 14px 8px 14px;
		margin: 0;
		}
		
		#kontaktMobil ul li:first-child {
		border-left: 1px solid #e6e6e6;
		}
		
		a {cursor:pointer}
		
		.iframe
		{
			display:none;
			
			
			}
		.liveKnap{
			cursor: pointer; 
		
		}